<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbd5c1f1-d2a1-4c8e-85d9-33cf701e327c" Alias="1051 1600X600" Level="2">
  <Info>
    <Parent Key="800d7ead-440e-494f-bca3-57bfd9b47f20">Trang chủ</Parent>
    <Path>/TrangChu/X600</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T11:37:01</CreateDate>
    <NodeName Default="1051 1600X600" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/45anlw3b/1051-1600x600.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>