<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec1304d-46e7-4ca6-8d7e-62e22dff3a82" Alias="214 540X360" Level="2">
  <Info>
    <Parent Key="d595611d-6d5f-45c9-b39f-8a0fb81d5cc5">Hoạt động</Parent>
    <Path>/HoatDong/X360</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-11T10:42:23</CreateDate>
    <NodeName Default="214 540X360" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jmymdxxh/214-540x360.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>