<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c2ad69b-6f9b-4ce4-9621-0fc3728a3338" Alias="218 1600X500" Level="2">
  <Info>
    <Parent Key="800d7ead-440e-494f-bca3-57bfd9b47f20">Trang chủ</Parent>
    <Path>/TrangChu/X500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T14:30:23</CreateDate>
    <NodeName Default="218 1600X500" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/txlcuxe1/218-1600x500.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>