<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc339d21-9bf1-448c-916c-4c1321525cda" Alias="588 350X467" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/X467</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-06T14:39:28</CreateDate>
    <NodeName Default="588 350X467" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e4odhxhr/588-350x467.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>