<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9d00392-8498-4abc-bc50-ee2ca6bfa829" Alias="Di sản" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DiSan</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T08:25:09</CreateDate>
    <NodeName Default="Di sản" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>