<?xml version="1.0" encoding="utf-8"?>
<Media Key="159b29dd-7a88-4177-9f31-bb54f7dc6b34" Alias="File Example MP3 1MG" Level="2">
  <Info>
    <Parent Key="88a4ff65-fc42-484c-924c-da7be3d84cfd">Mẫu</Parent>
    <Path>/Mau/FileExampleMP31MG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaAudio</ContentType>
    <CreateDate>2021-10-24T09:04:24</CreateDate>
    <NodeName Default="File Example MP3 1MG" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4yujwfmi/file_example_mp3_1mg.mp3]]></Value>
    </umbracoFile>
  </Properties>
</Media>