<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb649020-4214-43d5-ab09-813210f9f127" Alias="Giới thiệu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GioiThieu</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-06T17:14:55</CreateDate>
    <NodeName Default="Giới thiệu" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>