<?xml version="1.0" encoding="utf-8"?>
<Media Key="d595611d-6d5f-45c9-b39f-8a0fb81d5cc5" Alias="Hoạt động" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HoatDong</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T08:25:32</CreateDate>
    <NodeName Default="Hoạt động" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>