<?xml version="1.0" encoding="utf-8"?>
<Media Key="2de31311-4560-4566-8cc2-64a7defdde1a" Alias="Khám phá" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KhamPha</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T08:24:58</CreateDate>
    <NodeName Default="Khám phá" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>