<?xml version="1.0" encoding="utf-8"?>
<Media Key="38aa9746-aee3-46a8-b016-cd0c6f17ebfd" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T17:18:14</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>