<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a4ff65-fc42-484c-924c-da7be3d84cfd" Alias="Mẫu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mau</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-08T15:42:36</CreateDate>
    <NodeName Default="Mẫu" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>