<?xml version="1.0" encoding="utf-8"?>
<Media Key="45f6115f-0f63-4187-9ce3-5a0096db804b" Alias="Pic11" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:07</CreateDate>
    <NodeName Default="Pic11" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/leipmrld/pic11.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>