<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d2eabf5-90f9-4326-a0bb-8225571d141e" Alias="Pic16" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:09</CreateDate>
    <NodeName Default="Pic16" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4ovd21pz/pic16.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>