<?xml version="1.0" encoding="utf-8"?>
<Media Key="98acb74e-fdcc-4546-b897-bd7e12207403" Alias="Pic15" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:08</CreateDate>
    <NodeName Default="Pic15" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jc1lzggm/pic15.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>