<?xml version="1.0" encoding="utf-8"?>
<Media Key="346f1772-cd24-48e5-a9ae-d19ff476b193" Alias="Pic13" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:08</CreateDate>
    <NodeName Default="Pic13" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oqlh4nbe/pic13.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>