<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4909651-ff0c-4a89-aeda-cfdb390597fa" Alias="Pic21" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:10</CreateDate>
    <NodeName Default="Pic21" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k4ljbram/pic21.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>