<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a876df7-9ddd-48fd-8c10-45cc61328ed7" Alias="Pic28" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:11</CreateDate>
    <NodeName Default="Pic28" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4fwjogw3/pic28.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>