<?xml version="1.0" encoding="utf-8"?>
<Media Key="e316bfc6-5283-4d58-875f-877483b55752" Alias="Pic22" Level="2">
  <Info>
    <Parent Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05">Thư viện</Parent>
    <Path>/ThuVien/Pic22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-15T09:47:10</CreateDate>
    <NodeName Default="Pic22" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yc5bny2d/pic22.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>