<?xml version="1.0" encoding="utf-8"?>
<Media Key="693fe83e-fcff-45d7-bf85-d381c7d1fb05" Alias="Thư viện" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThuVien</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T08:25:19</CreateDate>
    <NodeName Default="Thư viện" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>