<?xml version="1.0" encoding="utf-8"?>
<Media Key="800d7ead-440e-494f-bca3-57bfd9b47f20" Alias="Trang chủ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-06T11:36:55</CreateDate>
    <NodeName Default="Trang chủ" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>