<?xml version="1.0" encoding="utf-8"?>
<Media Key="f93ee915-4da3-4332-b1cf-d1cc93fb9d01" Alias="Vanbancovid" Level="2">
  <Info>
    <Parent Key="8618d7ee-d595-4739-bb7c-7cff6168abec">Văn bản</Parent>
    <Path>/VanBan/Vanbancovid</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-07T11:06:17</CreateDate>
    <NodeName Default="Vanbancovid" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cpud34nd/vanbancovid.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>