<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f5f3c39-928f-4a1c-bfb1-140088045db0" Alias="Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-18T18:07:38</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>