<?xml version="1.0" encoding="utf-8"?>
<Media Key="8618d7ee-d595-4739-bb7c-7cff6168abec" Alias="Văn bản" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VanBan</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T08:24:44</CreateDate>
    <NodeName Default="Văn bản" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>