@using NamNung.Web.Factories;
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var pageContentDetail = PageContentFactory.GetPageContentDetail(Model);
    var bannerImage = pageContentDetail.Images.FirstOrDefault();
}

<div class="banner-header text-center d-print-none">
    <div class="banner-full">
        <img src="@(bannerImage?.Url)" class="img-responsive">
    </div>
    <div class="full-news">
        <h4 class="text-title text-uppercase">
            @pageContentDetail.HeadingTitle
        </h4>
    </div>
</div>
