@using NamNung.Web.Factories;
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var pageContentDetail = PageContentFactory.GetPageContentDetail(Model);
}

<div class="page-title">
    <h4>
        @pageContentDetail.Title
    </h4>

    <div class="post-date d-print-none">
        @if (!pageContentDetail.CreatedDate.Equals(DateTime.MinValue))
        {
            @pageContentDetail.CreatedDate.ToString(Umbraco.GetDictionaryValue(NamNung.Web.Constants.Dictionary.FormatDateTime))
        }

        <i class="fa fa-print" aria-hidden="true" onclick="window.print()"></i>
        <i class="fa fa-font" aria-hidden="true" style="font-size:20px" onclick="changeSize('20')"></i>
        <i class="fa fa-font" aria-hidden="true" style="font-size:14px" onclick="changeSize('14')"></i>

        @if (pageContentDetail.ReadBody != null)
        {
            <audio controls style="height:18px; margin-top:2px;">
                <source src="@pageContentDetail.ReadBody.Url" type="audio/@pageContentDetail.ReadBody.Type">
            </audio>
        }

    </div>

    <script>
        function changeSize(size) {
            console.log(document.getElementById("detailContent").style.fontSize);
            document.getElementById("detailContent").style.fontSize = size + "px";
        }
    </script>
</div>
