<?xml version="1.0" encoding="utf-8"?>
<Content Key="217dd1fe-3a86-48d1-8b02-b2b4abb648d0" Alias="Album 3" Level="3">
  <Info>
    <Parent Key="ff9eaa87-3e3e-4fba-a4d2-8ba9cc75a789">Thư viện</Parent>
    <Path>/TrangChu/ThuVien/Album3</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T17:22:58</CreateDate>
    <NodeName Default="Album 3">
      <Name Culture="en-us">Album 3</Name>
      <Name Culture="vi-vn">Album 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Album 3]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Album 3]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 3]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "34aaa389-507b-4e24-841b-86432b4c6c23",
    "mediaKey": "90a3ae2d-0334-4a5f-9a72-5691567caa8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "a8e87769-1ba2-4dbb-a1af-bf48d97acda4",
    "mediaKey": "51a7807b-4c75-40f3-9785-ce95add3a4ba",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "cc24500b-d96e-4833-a2eb-a58607460dc2",
    "mediaKey": "f02cb879-65f1-4d29-89c3-98a03f7e8a7e",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "f778817b-e5b9-4044-901b-d8b46417bd92",
    "mediaKey": "f4828680-35dc-4cbc-b27b-40083d377f73",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "e79811ef-0918-4d2e-b7ed-8b78791c03de",
    "mediaKey": "1d0c0fa9-807f-4602-9f65-71ee592f68a8",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "baa34e20-4b2f-41ec-8b7e-2bd7f43bc5a5",
    "mediaKey": "c6d39b48-0769-4553-8936-e44b713562b9",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "3c812176-d937-4458-8922-0d09602be460",
    "mediaKey": "2ef905d8-b37f-479d-94d7-8669e0a3ea8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "b91c0387-2ad7-4cc3-a482-c138a976a263",
    "mediaKey": "e316bfc6-5283-4d58-875f-877483b55752",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "ba01f18c-9c95-457d-92e0-1f7ba802f705",
    "mediaKey": "c4909651-ff0c-4a89-aeda-cfdb390597fa",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library","Album 3"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thư viện","Album 3"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Album 3]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 3]]></Value>
    </title>
  </Properties>
</Content>