<?xml version="1.0" encoding="utf-8"?>
<Content Key="aba2aba2-2d90-45c8-88b4-d619c23d00df" Alias="Album 4" Level="3">
  <Info>
    <Parent Key="ff9eaa87-3e3e-4fba-a4d2-8ba9cc75a789">Thư viện</Parent>
    <Path>/TrangChu/ThuVien/Album4</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T17:22:58</CreateDate>
    <NodeName Default="Album 4">
      <Name Culture="en-us">Album 4</Name>
      <Name Culture="vi-vn">Album 4</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Album 4]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "69a94a12-1f18-4d4e-ba64-10e8040b421f",
    "mediaKey": "9c83ee8c-a1ce-43dc-b182-c96956dfb82c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "1bfc782a-5cd1-47c3-b5aa-cca018d5373a",
    "mediaKey": "90a3ae2d-0334-4a5f-9a72-5691567caa8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "11d4299c-e0bc-4673-9aa4-eabdae1ae002",
    "mediaKey": "9c83ee8c-a1ce-43dc-b182-c96956dfb82c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "9fdd2335-fe05-482b-9dc1-56b2a6bfade5",
    "mediaKey": "dc339d21-9bf1-448c-916c-4c1321525cda",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "8e44f479-8db4-4f58-9b7c-63c277bd63f2",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7934f8d2-57eb-413b-b3ea-7b742856e094",
    "mediaKey": "8215f5da-9b85-49cb-82aa-f96e6d5addce",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library","Album 4"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thư viện","Album 4"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Album 4]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </title>
  </Properties>
</Content>