<?xml version="1.0" encoding="utf-8"?>
<Content Key="1529b419-4205-4173-8195-07b3c4d3b28c" Alias="Album 2" Level="3">
  <Info>
    <Parent Key="ff9eaa87-3e3e-4fba-a4d2-8ba9cc75a789">Thư viện</Parent>
    <Path>/TrangChu/ThuVien/Album2</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T17:21:45</CreateDate>
    <NodeName Default="Album 2">
      <Name Culture="en-us">Album 2</Name>
      <Name Culture="vi-vn">Album 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Album 2]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "b27b1917-9f93-4a4c-a453-ede1da7fc219",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "587c13ff-d763-46f2-8c08-065036d6f00a",
    "mediaKey": "dc339d21-9bf1-448c-916c-4c1321525cda",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "9c351102-cac5-413b-b017-d0a36e985f92",
    "mediaKey": "8215f5da-9b85-49cb-82aa-f96e6d5addce",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "b212f365-83c8-4578-9f34-cbd7da3a32fe",
    "mediaKey": "90a3ae2d-0334-4a5f-9a72-5691567caa8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "4517ec23-6e65-458a-834c-bb0ef8509a84",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "ac10d729-da56-4e91-87a6-b5881270e053",
    "mediaKey": "7f0d5bd4-1ff7-4b50-bbe8-817ab2f36e4f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "268822b2-e1ff-40f0-ba12-b54254e39ec9",
    "mediaKey": "dfa23b23-83ce-451c-98ea-051c51386042",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "44a8f1fa-64af-4666-a684-93fbe62ef5c1",
    "mediaKey": "cf0de471-0f3c-4016-80e0-43c976e5139d",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7d9507c1-1537-4787-8849-3b856b7b0fe1",
    "mediaKey": "6d2eabf5-90f9-4326-a0bb-8225571d141e",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "76cdb3bb-13e5-4bc5-b791-518eda7e2245",
    "mediaKey": "98acb74e-fdcc-4546-b897-bd7e12207403",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "ced5a527-c2ae-4c32-ad60-c4000525422f",
    "mediaKey": "5290a6bf-8533-42e9-a8a7-7041e619660c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "546b5622-ac38-4dd3-baac-f07c87476019",
    "mediaKey": "346f1772-cd24-48e5-a9ae-d19ff476b193",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "d7d8e3a6-8863-4588-b167-06d4a26ed169",
    "mediaKey": "45f6115f-0f63-4187-9ce3-5a0096db804b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library","Album 2"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thư viện","Album 2"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Album 2]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </title>
  </Properties>
</Content>