<?xml version="1.0" encoding="utf-8"?>
<Content Key="aba2aba2-2d90-45c8-88b4-d619c23d00df" Alias="Album 4" Level="3">
  <Info>
    <Parent Key="ff9eaa87-3e3e-4fba-a4d2-8ba9cc75a789">Thư viện</Parent>
    <Path>/TrangChu/ThuVien/Album4</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T17:22:58</CreateDate>
    <NodeName Default="Album 4">
      <Name Culture="en-us">Album 4</Name>
      <Name Culture="vi-vn">Album 4</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Album 4]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "69a94a12-1f18-4d4e-ba64-10e8040b421f",
    "mediaKey": "9c83ee8c-a1ce-43dc-b182-c96956dfb82c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "abed0ece-52a4-496f-a48a-8847532540d4",
    "mediaKey": "7ff01efe-8bac-4fea-b253-a2b72f6661d6",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "443a0f4c-867f-42b3-8a27-7dde29cfd220",
    "mediaKey": "2da0c83e-0ffd-4638-ad08-8440ace81ad3",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "bca97cc0-addb-4308-bec3-cf8b6b4e8100",
    "mediaKey": "421cec07-f4cf-4b20-b141-db869ff78052",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "917c6f38-cce7-4eb6-ad57-6edfc0e9300e",
    "mediaKey": "1a876df7-9ddd-48fd-8c10-45cc61328ed7",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "5ffb01bc-bb14-417e-84b6-1ac1c924a279",
    "mediaKey": "071cad44-c1a2-4ef4-813e-d81bf3253534",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "69bfb93a-5e87-40af-abeb-458fe36363b9",
    "mediaKey": "dc339d21-9bf1-448c-916c-4c1321525cda",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "b8f2c2a8-0703-4dab-8273-9d771ad54e95",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "bb7b82fc-1610-4afd-ac16-089b2ad9d3fa",
    "mediaKey": "8215f5da-9b85-49cb-82aa-f96e6d5addce",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "3847334f-14bd-4aae-ab4d-d923a157d2c4",
    "mediaKey": "90a3ae2d-0334-4a5f-9a72-5691567caa8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "b98cc61f-b791-4c18-8b32-287c554de7b9",
    "mediaKey": "9c83ee8c-a1ce-43dc-b182-c96956dfb82c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library","Album 4"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thư viện","Album 4"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Album 4]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 4]]></Value>
    </title>
  </Properties>
</Content>