<?xml version="1.0" encoding="utf-8"?>
<Content Key="1529b419-4205-4173-8195-07b3c4d3b28c" Alias="Album 2" Level="3">
  <Info>
    <Parent Key="ff9eaa87-3e3e-4fba-a4d2-8ba9cc75a789">Thư viện</Parent>
    <Path>/TrangChu/ThuVien/Album2</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T17:21:45</CreateDate>
    <NodeName Default="Album 2">
      <Name Culture="en-us">Album 2</Name>
      <Name Culture="vi-vn">Album 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Album 2]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "b27b1917-9f93-4a4c-a453-ede1da7fc219",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "d3c651de-83eb-4f24-94e7-add9a37202dd",
    "mediaKey": "35eade21-ecf5-4ec8-95bf-8b9db6892b1f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "5b53307c-9af2-494e-b985-a6c1d8f2f6aa",
    "mediaKey": "8215f5da-9b85-49cb-82aa-f96e6d5addce",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "2b68bce7-25d8-47c6-a974-50016563851d",
    "mediaKey": "90a3ae2d-0334-4a5f-9a72-5691567caa8b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7426191d-175f-49fd-9de2-7383d28f909f",
    "mediaKey": "9c83ee8c-a1ce-43dc-b182-c96956dfb82c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "d92c65da-cf54-4cae-90c0-83fe6a8430ef",
    "mediaKey": "dc339d21-9bf1-448c-916c-4c1321525cda",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library","Album 2"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thư viện","Album 2"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Album 2]]></Value>
      <Value Culture="vi-vn"><![CDATA[Album 2]]></Value>
    </title>
  </Properties>
</Content>