<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e99308d-3d1e-46a0-9b73-9852607bb278" Alias="Ban quản lý" Level="3">
  <Info>
    <Parent Key="86ee6e54-af0d-4b94-95c4-0c402d14b151">Giới thiệu</Parent>
    <Path>/TrangChu/GioiThieu/BanQuanLy</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T06:56:57</CreateDate>
    <NodeName Default="Ban quản lý">
      <Name Culture="en-us">Management body</Name>
      <Name Culture="vi-vn">Ban quản lý</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p>Dak Nong Geopark Management Body was established according to the Decision no. 220/QD-UBND dated February 4<sup>th</sup> 2016 of Dak Nong Provincial People’s Committee. After that, the Management Body was consolidated according to the Decision no.1270/QD-UBND dated August 1<sup>st</sup> 2017 of Dak Nong Provincial People’s Committee, the Decision no.146/QD-UBND dated January 30<sup>th</sup> 2018 of Dak Nong Provincial People’s Committee and the Decision no.696/QD-UBND dated May 9<sup>th</sup> 2018 of Dak Nong Provincial People’s Committee. The details are as following:</p>
<p><strong>1. </strong><strong>The Director of the Management Body:</strong> Mrs. Ton Thi Ngoc Hanh – Deputy Chairwoman of Dak Nong Provincial People’s Committee</p>
<p><strong>2. </strong><strong>The Deputy Director of the Management Body:</strong></p>
<p>– Mr. Le Ngoc Quang – Director of the Culture, Sport and Tourism Department;</p>
<p>– Mrs. Le Thi Hong An – Head of the Culture Management Division, Culture, Sport and Tourism Department;</p>
<p>– Mr. Bui Thanh Ha – Deputy Director of the Natural Resources and Environment Department.</p>
<p><strong>3. Members:</strong></p>
<ul>
<li>Full-time members: 8 representatives from local departments.</li>
<li>Part-time members:21 representatives from local departments, agencies and People’s Committees of the districts/town</li>
</ul>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Ban Quản lýCông viên địa chất Đắk Nông được thành lập theo Quyết định số 220/QĐ-UBND ngày 04 tháng 02 năm 2016 của Ủy ban nhân dân tỉnh Đắk Nông về việc thành lập Ban Quản lý Công viên địa chất núi lửa Krông Nô tỉnh Đắk Nông. Được kiện toàn và điều chỉnh nhân sự theo Quyết định số 1270/QĐ-UBND ngày 01 tháng 8 năm 2017 của Ủy ban nhân dân tỉnh Đắk Nông về việc kiện toàn Ban Quản lý Công viên địa chất núi lửa Krông Nô, tỉnh Đắk Nông; Quyết định số 146/QĐ-UBND ngày 30 tháng 01 năm2018 của Ủy ban nhân dân tỉnh Đắk Nông về việc bổ sung nhân sự Ban Quản lý Công viên địa chất núi lửa Krông Nô, tỉnh Đắk Nông; Quyết định số 696/QĐ-UBND ngày 09 tháng 5 năm 2018 của Ủy ban nhân dân tỉnh Đắk Nông về việc đổi tên và điều chỉnh nhân sự Ban Quản lý Công viên địa chất núi lửa Krông Nô, tỉnh Đắk Nông.</p>
<p>Cụ thể như sau:</p>
<p><strong>1. Giám đốc Ban Quản lý:</strong> Bà Tôn Thị Ngọc Hạnh – Phó Chủ tịch Ủy ban nhân dân tỉnh Đắk Nông.</p>
<p><strong>2. Phó Giám đốc Ban Quản lý:</strong></p>
<p>– Ông Lê Ngọc Quang – Giám đốc Sở Văn hóa, Thể thao và Du lịch;</p>
<p>– Bà Lê Thị Hồng An – Phó Giám đốc chuyên trách, Trưởng phòng Quản lý Văn hóa, Sở Văn hóa, Thể thao và Du lịch.</p>
<p>– Ông Bùi Thanh Hà – Phó Giám đốc Sở Tài nguyên và Môi trường;</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7c3c965ed1ae4c48ac3f66f95bb4a3e6]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Thông tin Ban Quản lý Công viên địa chất Đắk Nông]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Management Body]]></Value>
      <Value Culture="vi-vn"><![CDATA[Ban Quản lý]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "b1b4dfc9-7a1b-4821-ad4e-27f2cca96e22",
    "mediaKey": "23477a45-edfe-4e7a-a258-6ecff8724b83",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "e3b94c0f-e9ea-416d-aa79-96a81509eb54",
    "mediaKey": "f062d568-6f70-472a-9c55-286f00c4c8ee",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Management Body","Information on Dak Nong Geopark Management Body","no. 220/QD-UBND"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Thông tin Ban Quản lý Công viên địa chất Đắk Nông","Ban Quản lý"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Information on Dak Nong Geopark Management Body]]></Value>
      <Value Culture="vi-vn"><![CDATA[Thông tin Ban Quản lý Công viên địa chất Đắk Nông]]></Value>
    </title>
  </Properties>
</Content>