<?xml version="1.0" encoding="utf-8"?>
<Content Key="49153f5e-a2cf-4356-a394-0a98e53f9e2f" Alias="Công ty du lịch" Level="3">
  <Info>
    <Parent Key="49e86fcf-f767-475d-9e5f-f3f42c806916">Đối tác</Parent>
    <Path>/TrangChu/DoiTac/CongTyDuLich</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:46:34</CreateDate>
    <NodeName Default="Công ty du lịch">
      <Name Culture="en-us">Tour operating companies</Name>
      <Name Culture="vi-vn">Công ty du lịch</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="07020492-8dac-49f7-bce5-5f8522254409">PartnerList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/b1f429875c4f4c01ba064ea063133ac4,umb://document/55c5faa9e29b4fd28ed25da266244a46]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Công ty du lịch]]></Value>
      <Value Culture="en-us"><![CDATA[Tour operating companies]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Tour operating companies]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công ty du lịch]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "ba0502c2-dc05-4199-b506-466f7fb301c9",
    "mediaKey": "802f1f5d-690e-4e19-a1ee-a64154912436",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "b1840ad0-4370-4519-a2b4-8504c1a7ee57",
    "mediaKey": "d2cf6f0e-23f6-46bb-adad-8200329132ad",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Tour operating companies"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Công ty du lịch"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Tour operating companies]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công ty du lịch]]></Value>
    </title>
  </Properties>
</Content>