<?xml version="1.0" encoding="utf-8"?>
<Content Key="55c5faa9-e29b-4fd2-8ed2-5da266244a46" Alias="Công ty du lịch" Level="4">
  <Info>
    <Parent Key="721a5789-4024-4e16-9b07-1aac8e1f2645">Đối tác</Parent>
    <Path>/TrangChu/DanhMuc/DoiTac/CongTyDuLich</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-10-10T17:29:23</CreateDate>
    <NodeName Default="Công ty du lịch">
      <Name Culture="en-us">Travel agency</Name>
      <Name Culture="vi-vn">Công ty du lịch</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Travel agency]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công ty du lịch]]></Value>
    </title>
  </Properties>
</Content>