<?xml version="1.0" encoding="utf-8"?>
<Content Key="737553f7-b0fe-4ce8-9d79-26d06f4e7566" Alias="Cộng đồng địa phương" Level="3">
  <Info>
    <Parent Key="92cc559a-f912-43d7-9eca-aa633ea89a89">Hoạt động giáo dục</Parent>
    <Path>/TrangChu/HoatDongGiaoDuc/CongDongDiaPhuong</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:35:52</CreateDate>
    <NodeName Default="Cộng đồng địa phương">
      <Name Culture="en-us">Local communities</Name>
      <Name Culture="vi-vn">Cộng đồng địa phương</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/6f2afae67b7f4db7bac221d864e386b4,umb://document/6b174bd1f23d4ff0aa38f80f485fca02]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Local communities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Cộng đồng địa phương]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "afdf5ffb-f0f1-4982-a6db-9cf4925b826c",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "3cbca488-c7e7-420c-8d08-6a76005954cd",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Local communities"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Cộng đồng địa phương"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Local communities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Cộng đồng địa phương]]></Value>
    </title>
  </Properties>
</Content>