<?xml version="1.0" encoding="utf-8"?>
<Content Key="b85c4a11-7e3a-4ae0-8571-6d555090aeca" Alias="Di sản cổ sinh – địa tầng" Level="4">
  <Info>
    <Parent Key="0b0aa2a8-ec22-4df7-9290-ef506f7927eb">DI SẢN ĐỊA CHẤT</Parent>
    <Path>/TrangChu/DiSanCVDC/DISANDIACHAT/DiSanCoSinhDiaTang</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-21T20:31:11</CreateDate>
    <NodeName Default="Di sản cổ sinh – địa tầng">
      <Name Culture="en-us">Stratigraphic-paleontologic heritages</Name>
      <Name Culture="vi-vn">Di sản cổ sinh – địa tầng</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/6f6e6824e0b54f5aaf3f62526d0402a8,umb://document/b135138b535f4d76af26356b93cddaeb]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Stratigraphic-paleontologic heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản cổ sinh – địa tầng]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "117b66f9-9d94-450b-b85e-cfd44542c001",
    "mediaKey": "49f0b5d4-5227-44d1-9a29-6e2c6ba03fd5",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "07286606-10a9-4d03-8eb7-7003e3c4fd3a",
    "mediaKey": "7edf899d-8c6b-4f97-b972-2226305d8f9d",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Stratigraphic-paleontologic heritages"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Di sản cổ sinh – địa tầng"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Stratigraphic-paleontologic heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản cổ sinh – địa tầng]]></Value>
    </title>
  </Properties>
</Content>