<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc2b90ad-6f58-4dd6-b8da-1225340eea8f" Alias="Di Sản Văn Hóa" Level="4">
  <Info>
    <Parent Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5">Di sản</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/DiSan/DiSanVanHoa</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T10:46:36</CreateDate>
    <NodeName Default="Di Sản Văn Hóa">
      <Name Culture="en-us">Cultural heritages</Name>
      <Name Culture="vi-vn">Di Sản Văn Hóa</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Cultural heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di Sản Văn Hóa]]></Value>
    </title>
  </Properties>
</Content>