<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5" Alias="Di sản" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Quản lý loại bài viết</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/DiSan</Path>
    <Trashed>false</Trashed>
    <ContentType>contentsFolder</ContentType>
    <CreateDate>2021-10-10T17:33:18</CreateDate>
    <NodeName Default="Di sản" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>