<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f1ed09a-cc48-4ed6-b98a-4d8b0089412a" Alias="Di sản CVĐC" Level="2">
  <Info>
    <Parent Key="0789bf43-f210-4ac2-bd73-ae0fcad1ff7f">Trang chủ</Parent>
    <Path>/TrangChu/DiSanCVDC</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:11:30</CreateDate>
    <NodeName Default="Di sản CVĐC">
      <Name Culture="en-us">GEOPARKS</Name>
      <Name Culture="vi-vn">Di sản CVĐC</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[DI SẢN CVĐC]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[GEOPARKS]]></Value>
      <Value Culture="vi-vn"><![CDATA[DI SẢN CVĐC]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "52983f51-29c2-4723-aa0f-fc9d16f480ce",
    "mediaKey": "15104f6e-85ad-4d76-b44d-ec6138f677b2",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "39972882-34a9-4236-8f89-eb68470a50aa",
    "mediaKey": "7edf899d-8c6b-4f97-b972-2226305d8f9d",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["GEOPARKS"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["DI SẢN CVĐC"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[GEOPARKS]]></Value>
      <Value Culture="vi-vn"><![CDATA[DI SẢN CVĐC]]></Value>
    </title>
  </Properties>
</Content>