<?xml version="1.0" encoding="utf-8"?>
<Content Key="9285a40a-0ceb-43ac-8d0c-06760ec024b2" Alias="Di sản địa mạo" Level="4">
  <Info>
    <Parent Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5">Di sản</Parent>
    <Path>/TrangChu/DanhMuc/DiSan/DiSanDiaMao</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T10:50:28</CreateDate>
    <NodeName Default="Di sản địa mạo">
      <Name Culture="en-us">Geomorphological heritages</Name>
      <Name Culture="vi-vn">Di sản địa mạo</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Geomorphological heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản địa mạo]]></Value>
    </title>
  </Properties>
</Content>