<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b564d29-5cdd-4d4c-8897-8fb6768571c2" Alias="Di sản đá, khoáng vật, khoáng sản" Level="4">
  <Info>
    <Parent Key="0b0aa2a8-ec22-4df7-9290-ef506f7927eb">DI SẢN ĐỊA CHẤT</Parent>
    <Path>/TrangChu/DiSanCVDC/DISANDIACHAT/DiSanDaKhoangVatKhoangSan</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-21T20:32:40</CreateDate>
    <NodeName Default="Di sản đá, khoáng vật, khoáng sản">
      <Name Culture="en-us">Rock and Mineral heritages</Name>
      <Name Culture="vi-vn">Di sản đá, khoáng vật, khoáng sản</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Di sản đá, khoáng vật, khoáng sản]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Rock and Mineral heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản đá, khoáng vật, khoáng sản]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "d4fffcc3-de73-42bc-9164-cc5ce5a9d74d",
    "mediaKey": "fdcee980-8d6d-43dd-acca-ffc7afb07825",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "0c92d1fb-4eb9-46d1-9c0c-ae8a57905905",
    "mediaKey": "7edf899d-8c6b-4f97-b972-2226305d8f9d",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[[]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Rock and Mineral heritages]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản đá, khoáng vật, khoáng sản]]></Value>
    </title>
  </Properties>
</Content>