<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5ef9fd2-53b5-47c1-a9e2-84f26b13f245" Alias="Di sản CVĐC" Level="4">
  <Info>
    <Parent Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5">Di sản</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/DiSan/DiSanCVDC</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T10:42:14</CreateDate>
    <NodeName Default="Di sản CVĐC">
      <Name Culture="en-us">GEOPARKS</Name>
      <Name Culture="vi-vn">Di sản CVĐC</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[GEOPARKS]]></Value>
      <Value Culture="vi-vn"><![CDATA[Di sản CVĐC]]></Value>
    </title>
  </Properties>
</Content>