<?xml version="1.0" encoding="utf-8"?>
<Content Key="940e49ae-af06-4d9d-a9d0-587e25d45912" Alias="Di tích lịch sử" Level="4">
  <Info>
    <Parent Key="00a5417b-f724-4847-b21c-3dcb87be40e7">DI SẢN VĂN HÓA</Parent>
    <Path>/TrangChu/DiSanCVDC/DISANVANHOA/DiTichLichSu</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-22T11:49:12</CreateDate>
    <NodeName Default="Di tích lịch sử">
      <Name Culture="en-us">Historical sites</Name>
      <Name Culture="vi-vn">Di tích lịch sử</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/dc2b90ad6f584dd6b8da1225340eea8f,umb://document/4234aa9198f242939afc60ae7f97165f]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Di tích lịch sử]]></Value>
      <Value Culture="en-us"><![CDATA[Historical sites]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "54bd7f54-d801-465e-b335-ed3c0fd8b8f8",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Di tích lịch sử"]]]></Value>
      <Value Culture="en-us"><![CDATA[["Historical sites"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Di tích lịch sử]]></Value>
      <Value Culture="en-us"><![CDATA[Historical sites]]></Value>
    </title>
  </Properties>
</Content>