<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e3c0e44-c0ad-42f5-a6c8-e204f4e933fd" Alias="Du lịch Công viên địa chất Đắk Nông dễ dàng hơn với ứng dụng izi.TRAVEL 3 (1)" Level="3">
  <Info>
    <Parent Key="e7a63696-bb7b-432f-9d95-c786733cb60c">Tin tức</Parent>
    <Path>/TrangChu/TinTuc/DuLichCongVienDiaChatDakNongDeDangHonVoiUngDungIziTRAVEL31</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-10-06T20:50:24</CreateDate>
    <NodeName Default="Du lịch Công viên địa chất Đắk Nông dễ dàng hơn với ứng dụng izi.TRAVEL 3 (1)">
      <Name Culture="en-us">izi.TRAVEL app – Dak Nong Geopark traveller should know 3 (1)</Name>
      <Name Culture="vi-vn">Du lịch Công viên địa chất Đắk Nông dễ dàng hơn với ứng dụng izi.TRAVEL 3 (1)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="fafcd7d4-8ff6-462a-b40f-40f4674d3821">Detail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p>Built in late 2015, Dak Nong Geopark has attracted a large number of tourists (especially backpackers) by winding mountain pass, poetic waterfalls, the mighty Krong No father river, the peaceful sunrise in the valley of Nam N’dir pass… and cultural diversity of 40 ethnic groups of Vietnam despite of its underdeveloped tourism infrastructure.</p>
<p><img class="wp-image-5477" src="http://daknonggeopark.com/wp-content/uploads/2020/03/1-1-1024x768.jpg" alt="Krong No Father River" />Krong No Father River – Photo Vo Anh Tu</p>
<p>Visit Dak Nong Geopark without any ideas about where to go and what to do? Don’t hesitate to download izi.TRAVEL app – A “Virtual Tour Assistant” of Dak Nong Geopark!</p>
<p><img class="wp-image-5478" src="http://daknonggeopark.com/wp-content/uploads/2020/03/2-1.jpg" alt="" />izi. TRAVEL icon</p>
<p>With izi.TRAVEL app installed on smartphones, visitors will easily explore 3 routes within ​​Dak Nong Geopark, including: “Rhapsody of Fire and Water”, “Wind of Change Concerto” and “Sounds of the Earth” to experience the typical features of geology, landscape and culture of M’nong highland.</p>
<p><img class="wp-image-5479" src="http://daknonggeopark.com/wp-content/uploads/2020/03/3-1.jpg" alt="" />Interface of 3 travel routes on izi.TRAVEL app<img class="wp-image-5480" src="http://daknonggeopark.com/wp-content/uploads/2020/03/4-1.jpg" alt="" />Interface of “Sounds of the Earth route” on izi.TRAVEL</p>
<p>Each route consists of 14 – 15 destinations. All data on sites’ locations and interpretations are integrated on this application platform. Currentl, izi.TRAVEL has both English and Vietnamese versions.</p>
<p><img class="wp-image-5481" src="http://daknonggeopark.com/wp-content/uploads/2020/03/6-1.jpg" alt="" />Selecting Vietnamese or English language on izi.TRAVEL</p>
<p>In case of not using the 4G network regularly, tourists can choose to download visiting itineraries in advance for more convenient. As the Land of Sounds, Dak Nong Geopark integrates on izi.TRAVEL not only information, pictures but also daily life’s sounds and breath of this colorful cultural land.</p>
<p>About each destination’s 5 minutes in advance, the app automatically plays a short introduction with a sound specific to that site to interact with visitors in order to create new and unique experiences. For example, the Aluminium mineral site is linked to the tinkling of metal, the waterfalls go with rushing water-flowing sound, the information center is characterized by lithophone’s sound, etc and other countless sounds that visitors will have chances to enjoy and discover when traveling with izi.TRAVEL app within Dak Nong Geopark.</p>
<p>Whether traveling alone or in groups, with Dak Nong Geopark’s “Virtual tour assistant” – izi.TRAVEL app, visitors will no longer be “alone” on the roads to explore “The Land of Sounds”.</p>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Công viên địa chất Đắk Nông được xây dựng từ cuối năm 2015. Tuy chưa được đầu tư mạnh về cơ sở hạ tầng du lịch nhưng nơi đây đã thu hút một lượng lớn du khách (đặc biệt là các phượt thủ) bởi những cung đường đèo uốn lượn, những thác nước nên thơ, trong mát, dòng sông cha Krông Nô dũng mãnh, cảnh bình mình thanh bình trên thung lũng đèo Nâm N’dir …và những nét văn hóa đặc trưng của vùng đất nơi 40 dân tộc anh em tụ hội.</p>
<p><img class="wp-image-5470" src="http://daknonggeopark.com/wp-content/uploads/2020/03/1-1024x768.jpg" alt="Dòng sông cha Krông Nô dũng mãnh nhưng không kém phần hiền hòa " />Dòng sông cha Krông Nô dũng mãnh nhưng không kém phần hiền hòa – Ảnh Võ Anh Tú</p>
<p>Đến với Đắk Nông, nếu du khách chưa biết nên đi những điểm nào và bắt đầu đi từ đâu? Hãy tải ứng dụng izi.TRAVEL – “Trợ lý du lịch” ảo của Công viên địa chất Đắk Nông!</p>
<p><img class="wp-image-5471" src="http://daknonggeopark.com/wp-content/uploads/2020/03/2.jpg" alt="Biểu tượng ứng dụng izi. TRAVEL" />Biểu tượng ứng dụng izi. TRAVEL</p>
<p>Với ứng dụng izi.TRAVEL cài đặt trên điện thoại thông minh, du khách sẽ dễ dàng khám phá 3 tuyến du lịch trong vùng Công viên địa chất Đắk Nông, để trải nghiệm những nét đặc trưng về địa chất, cảnh quan và văn hóa của vùng đất M’nông trù phú và đằm thắm qua hành trình khám phá: “Trường ca của Lửa và Nước”, “Bản Giao hưởng của Làn gió mới” và “Âm vang từ Trái đất”.</p>
<p><img class="wp-image-5472" src="http://daknonggeopark.com/wp-content/uploads/2020/03/3.jpg" alt="" /></p>
<p>Giao diện 3 tuyến du lịch trên ứng dụng izi.TRAVEL</p>
<p><img class="wp-image-5473" src="http://daknonggeopark.com/wp-content/uploads/2020/03/4.jpg" alt="" /></p>
<p>Giao diện tuyến du lịch “Âm vang từ Trái đất” trên ứng dụng izi.TRAVEL</p>
<p>Mỗi tuyến du lịch bao gồm từ 14 – 15 điểm đến. Tất cả các dữ liệu, định vị điểm đến đều được tích hợp trên nền tảng ứng dụng này. Hiện izi.TRAVEL có cả phiên bản tiếng Anh và tiếng Việt.</p>
<p><img class="wp-image-5474" src="http://daknonggeopark.com/wp-content/uploads/2020/03/6.jpg" alt="" /></p>
<p>Lựa chọn ngôn ngữ tiếng Việt hoặc tiếng Anh trên giao diện izi.TRAVEL</p>
<p>Trong trường hợp không sử dụng mạng 4G thường xuyên, du khách có thể tải hành trình xuống trước mỗi chuyến đi để thuận tiện sử dụng trong quá trình di chuyển. Là xứ sở của những âm điệu, Công viên địa chất Đắk Nông tích hợp trên ứng dụng izi.TRAVEL không chỉ dữ liệu mà có cả âm thanh, hơi thở của cuộc sống thường nhật trên vùng đất đa sắc màu văn hóa này.</p>
<p>Trước mỗi điểm đến khoảng 5 phút, ứng dụng sẽ tự động phát một đoạn giới thiệu ngắn kèm theo một âm thanh đặc trưng cho điểm đến ấy, để tương tác với du khách, nhằm tạo ra những trải nghiệm mới lạ và độc đáo. Nếu điểm mỏ nguyên liệu nhôm là tiếng leng keng của kim loại, các thác nước là tiếng ào ạt của nước chảy thì trung tâm thông tin lại được đặc trưng bởi những thanh âm trầm ấm của đàn đá. Và còn vô số những âm thanh khác mà du khách sẽ được thưởng thức và khám phá khi du lịch cùng ứng dụng izi.TRAVEL trong vùng Công viên địa chất Đắk Nông.</p>
<p>Dù đi du lịch một mình, hay với bạn bè, với ứng dụng izi.TRAVEL – “Trợ lý du lịch ảo” của Công viên địa chất Đắk Nông, du khách sẽ không còn “cô đơn” trên những cung đường khám phá “xứ sở của những âm điệu”.</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7effb1a91a2b425981e82e9ced0ff224]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-20T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Visit Dak Nong Geopark without any ideas about where to go and what to do? Don’t hesitate to download izi.TRAVEL app – A “Virtual Tour Assistant” of Dak Nong Geopark!]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công viên địa chất Đắk Nông được xây dựng từ cuối năm 2015. Tuy chưa được đầu tư mạnh về cơ sở hạ tầng du lịch nhưng nơi đây đã thu hút một lượng lớn du khách (đặc biệt là các phượt thủ) bởi những cung đường đèo uốn lượn, những thác nước nên thơ, trong mát, dòng sông cha Krông Nô dũng mãnh, cảnh bình mình thanh bình trên thung lũng đèo Nâm N’dir …và những nét văn hóa đặc trưng của vùng đất nơi 40 dân tộc anh em tụ hội.]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[izi.TRAVEL app – Dak Nong Geopark traveller should know  3]]></Value>
      <Value Culture="vi-vn"><![CDATA[Du lịch Công viên địa chất Đắk Nông dễ dàng hơn với ứng dụng izi.TRAVEL 3]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "484bdbce-6a44-469b-a8a4-3525ec80076a",
    "mediaKey": "e1ea4716-00d9-4bb7-97a1-14e0c672c8f9",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "5de33cc2-53e5-4f4b-8c88-875102ccd146",
    "mediaKey": "38444307-75ab-42c1-bf21-9fcccc7e2852",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "8508b5aa-3a0e-4775-a623-a25ae428ac3e",
    "mediaKey": "dc4057c9-5f52-415b-885f-41c1696e65c5",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["izi.TRAVEL app – Dak Nong Geopark traveller should know","izi.TRAVEL"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["izi.TRAVEL app"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[izi.TRAVEL app – Dak Nong Geopark traveller should know  3]]></Value>
      <Value Culture="vi-vn"><![CDATA[Du lịch Công viên địa chất Đắk Nông dễ dàng hơn với ứng dụng izi.TRAVEL 3]]></Value>
    </title>
  </Properties>
</Content>