<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7e6703a-b8fb-42dc-a466-816af23bb308" Alias="Giá trị khảo cổ học" Level="4">
  <Info>
    <Parent Key="00a5417b-f724-4847-b21c-3dcb87be40e7">DI SẢN VĂN HÓA</Parent>
    <Path>/TrangChu/DiSanCVDC/DISANVANHOA/GiaTriKhaoCoHoc</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-22T11:47:51</CreateDate>
    <NodeName Default="Giá trị khảo cổ học">
      <Name Culture="en-us">Archaeological values</Name>
      <Name Culture="vi-vn">Giá trị khảo cổ học</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/dc2b90ad6f584dd6b8da1225340eea8f,umb://document/d628a6ac79f24cd2aba83472a0f6bba7]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Archaeological values]]></Value>
      <Value Culture="vi-vn"><![CDATA[Giá trị khảo cổ học]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "f96270fc-72e3-43eb-9ac2-7d32f9229c94",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Archaeological values"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Giá trị khảo cổ học"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Archaeological values]]></Value>
      <Value Culture="vi-vn"><![CDATA[Giá trị khảo cổ học]]></Value>
    </title>
  </Properties>
</Content>