<?xml version="1.0" encoding="utf-8"?>
<Content Key="92cc559a-f912-43d7-9eca-aa633ea89a89" Alias="Hoạt động giáo dục" Level="2">
  <Info>
    <Parent Key="0789bf43-f210-4ac2-bd73-ae0fcad1ff7f">Trang chủ</Parent>
    <Path>/TrangChu/HoatDongGiaoDuc</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:33:31</CreateDate>
    <NodeName Default="Hoạt động giáo dục">
      <Name Culture="en-us">Educational activities</Name>
      <Name Culture="vi-vn">Hoạt động giáo dục</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/6f2afae67b7f4db7bac221d864e386b4]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Educational activities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Hoạt động giáo dục]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "c0917add-8687-40ff-bbbf-fef445c75dbd",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "697a72ff-aea4-4945-acfb-122ec9b13466",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Educational activities"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Hoạt động giáo dục"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Educational activities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Hoạt động giáo dục]]></Value>
    </title>
  </Properties>
</Content>