<?xml version="1.0" encoding="utf-8"?>
<Content Key="097d2b5d-b4b8-43f7-bf66-058cd03f6d47" Alias="Hoạt động giáo dục" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Quản lý loại bài viết</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/HoatDongGiaoDuc</Path>
    <Trashed>false</Trashed>
    <ContentType>contentsFolder</ContentType>
    <CreateDate>2021-10-10T17:32:46</CreateDate>
    <NodeName Default="Hoạt động giáo dục" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>