<?xml version="1.0" encoding="utf-8"?>
<Content Key="d71e0f31-cb1f-4dd6-bd90-8680bfb44866" Alias="Hóa Thạch Ammonit Nam Tiến" Level="5">
  <Info>
    <Parent Key="b85c4a11-7e3a-4ae0-8571-6d555090aeca">Di sản cổ sinh – địa tầng</Parent>
    <Path>/TrangChu/DiSan/DISANDIACHAT/DiSanCoSinhDiaTang/HoaThachAmmonitNamTien</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T11:25:12</CreateDate>
    <NodeName Default="Hóa Thạch Ammonit Nam Tiến">
      <Name Culture="en-us">Nam Tien ammonite fossils</Name>
      <Name Culture="vi-vn">Hóa Thạch Ammonit Nam Tiến</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="fafcd7d4-8ff6-462a-b40f-40f4674d3821">Detail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[<p><img class="wp-image-4487" src="http://daknonggeopark.com/wp-content/uploads/2019/12/hoa-thach-Nam-tien-1.jpg" alt="Hóa thạch Cúc đá thôn Nam Tiến" />Hóa thạch Cúc đá thôn Nam Tiến</p>
<p>Tọa độ địa lý: 12° 44′ 7.806336″ vĩ độ bắc; 107° 51′ 9.16488″ kinh độ đông.</p>
<p>Vị trí địa lý: Suối Công nhân/suối Nông trường, thôn Nam Tiến, xã Ea Pô, huyện Cư Jut, tỉnh Đắk Nông.</p>
<p>Hóa thạch ammonit phân bố trên một diện tích rộng hàng ngàn hecta, thuộc chủ yếu địa phận của các thôn: Thôn 1 đến Thôn 5 của xã Đắk Wil; thôn Nam Tiến, thôn Nhà Đèn và thôn Suối Tre của xã Ea Pô, thuộc huyện Cư Jut. . Mật độ phân bố hóa thạch khá dày với sự phong phú và đa dạng về loài cũng như kích thước các cá thể. Về kích thước, hóa thạch có kích thước phổ biến từ một vài cm đến hàng chục cm, cá biệt lên tới &gt;50cm.  </p>
<p>– Tuổi thành tạo: trầm tích chứa hóa thạch có tuổi Jura sớm (J<sub>1</sub>) khoảng 201 – 174 triệu năm.</p>
<p>– Cơ chế thành tạo: Cúc đá và Hai mảnh vỏ có vỏ khá dày và cứng, có thành phần CaCO<sub>3</sub> là chủ yếu, giống như vỏ sò Tai Tượng sống ở thềm lục địa phía nam nước ta hiện nay. Khi chết đi, miệng của chúng hé mở, phần thân mềm bên trong bị thối rữa, phân hủy và dần được thay thế, lấp đầy bởi trầm tích cát bột sét của đáy biển. Vỏ cứng của chúng có vai trò là khuôn giữ hình dạng bên trong của nó trong suốt quá trình trầm tích và biến đổi thành đá. Trải qua quá trình địa chất lâu dài, lớp vỏ cứng giàu CaCO<sub>3 </sub>dễ bị hòa tan, chỉ còn lại khuôn trong của Cúc đá và Hai mảnh vỏ.</p>
<p>– Kết quả nghiên cứu cổ sinh trong khu vực cho thấy: Cát kết ở phần dưới mặt cắt chứa Cúc đá bảo tồn xấu thuộc họ Arietitidae tuổi Sinemur (199 – 190 triệu năm), và Hai mảnh vỏ <em>Cardinia concinna, C. </em>aff. <em>orbicularis, </em>bột kết ở phần giữa mặt cắt chứa Cúc đá <em>Dactylioceras </em>sp. và Hai mảnh vỏ <em>Cultriopsis counilloni, Goniomya fontainei,</em> <em>Entolium </em>cf. <em>partitum, Chlamys </em>cf.<em> textoria</em>, v.v. tuổi Pliensbach (190 – 182 triệu năm), còn bột kết vôi ở phần trên chứa Cúc đá <em>Dumortieria lantenoisi</em> và Hai mảnh vỏ <em>Parvamussium donaiense, Myophorella saurini </em>tuổi Toar (182 – 174 triệu năm).</p>
<p>– Căn cứ vào đặc điểm môi trường sinh cảnh, sự xuất hiện hóa thạch Cúc đá và Hai mảnh vỏ (như nêu trên) ở nửa phần phía bắc của huyện Cư Jut là minh chứng khoa học để khẳng định:</p>
<p>+ Cách ngày nay 201 – 174 triệu năm, nơi đây là biển.</p>
<p>+ Vị trí thành tạo trầm tích cat bột kết chứa hóa thạch Cúc đá và Hai mảnh vỏ là thềm lục địa của biển cổ, có độ sâu &lt;200m nước. Môi trường cổ địa lý khá bình ổn và không có biến động lớn.</p>
<p><img class="wp-image-4486" src="http://daknonggeopark.com/wp-content/uploads/2019/12/hoa-thach-amonit-Nam-Tien.jpg" alt="Sơ đồ vị trí hóa thạch Cúc đá thôn Nam Tiến" />Sơ đồ vị trí hóa thạch Cúc đá thôn Nam Tiến</p>
<p>+ Kích thước Cúc đá và Hai mảnh vỏ khá lớn (vài chục đến 50 – 60cm) khẳng định độ sâu của trầm tích chứa hóa thạch không thể là môi trường biển nông ven bờ (0 – 30m nước), mà là môi trường thềm lục địa có độ sâu khoảng từ 50 – 200m nước. Và môi trường sinh cảnh lúc đó rất giàu dinh dưỡng, khí hậu ấm áp, thích nghị cho sinh vật thân mềm cùng các loại t</p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p><img class="wp-image-4487" src="http://daknonggeopark.com/wp-content/uploads/2019/12/hoa-thach-Nam-tien-1.jpg" alt="Hóa thạch Cúc đá thôn Nam Tiến" />Hóa thạch Cúc đá thôn Nam Tiến</p>
<p>Tọa độ địa lý: 12° 44′ 7.806336″ vĩ độ bắc; 107° 51′ 9.16488″ kinh độ đông.</p>
<p>Vị trí địa lý: Suối Công nhân/suối Nông trường, thôn Nam Tiến, xã Ea Pô, huyện Cư Jut, tỉnh Đắk Nông.</p>
<p>Hóa thạch ammonit phân bố trên một diện tích rộng hàng ngàn hecta, thuộc chủ yếu địa phận của các thôn: Thôn 1 đến Thôn 5 của xã Đắk Wil; thôn Nam Tiến, thôn Nhà Đèn và thôn Suối Tre của xã Ea Pô, thuộc huyện Cư Jut. . Mật độ phân bố hóa thạch khá dày với sự phong phú và đa dạng về loài cũng như kích thước các cá thể. Về kích thước, hóa thạch có kích thước phổ biến từ một vài cm đến hàng chục cm, cá biệt lên tới &gt;50cm.  </p>
<p>– Tuổi thành tạo: trầm tích chứa hóa thạch có tuổi Jura sớm (J<sub>1</sub>) khoảng 201 – 174 triệu năm.</p>
<p>– Cơ chế thành tạo: Cúc đá và Hai mảnh vỏ có vỏ khá dày và cứng, có thành phần CaCO<sub>3</sub> là chủ yếu, giống như vỏ sò Tai Tượng sống ở thềm lục địa phía nam nước ta hiện nay. Khi chết đi, miệng của chúng hé mở, phần thân mềm bên trong bị thối rữa, phân hủy và dần được thay thế, lấp đầy bởi trầm tích cát bột sét của đáy biển. Vỏ cứng của chúng có vai trò là khuôn giữ hình dạng bên trong của nó trong suốt quá trình trầm tích và biến đổi thành đá. Trải qua quá trình địa chất lâu dài, lớp vỏ cứng giàu CaCO<sub>3 </sub>dễ bị hòa tan, chỉ còn lại khuôn trong của Cúc đá và Hai mảnh vỏ.</p>
<p>– Kết quả nghiên cứu cổ sinh trong khu vực cho thấy: Cát kết ở phần dưới mặt cắt chứa Cúc đá bảo tồn xấu thuộc họ Arietitidae tuổi Sinemur (199 – 190 triệu năm), và Hai mảnh vỏ <em>Cardinia concinna, C. </em>aff. <em>orbicularis, </em>bột kết ở phần giữa mặt cắt chứa Cúc đá <em>Dactylioceras </em>sp. và Hai mảnh vỏ <em>Cultriopsis counilloni, Goniomya fontainei,</em> <em>Entolium </em>cf. <em>partitum, Chlamys </em>cf.<em> textoria</em>, v.v. tuổi Pliensbach (190 – 182 triệu năm), còn bột kết vôi ở phần trên chứa Cúc đá <em>Dumortieria lantenoisi</em> và Hai mảnh vỏ <em>Parvamussium donaiense, Myophorella saurini </em>tuổi Toar (182 – 174 triệu năm).</p>
<p>– Căn cứ vào đặc điểm môi trường sinh cảnh, sự xuất hiện hóa thạch Cúc đá và Hai mảnh vỏ (như nêu trên) ở nửa phần phía bắc của huyện Cư Jut là minh chứng khoa học để khẳng định:</p>
<p>+ Cách ngày nay 201 – 174 triệu năm, nơi đây là biển.</p>
<p>+ Vị trí thành tạo trầm tích cat bột kết chứa hóa thạch Cúc đá và Hai mảnh vỏ là thềm lục địa của biển cổ, có độ sâu &lt;200m nước. Môi trường cổ địa lý khá bình ổn và không có biến động lớn.</p>
<p><img class="wp-image-4486" src="http://daknonggeopark.com/wp-content/uploads/2019/12/hoa-thach-amonit-Nam-Tien.jpg" alt="Sơ đồ vị trí hóa thạch Cúc đá thôn Nam Tiến" />Sơ đồ vị trí hóa thạch Cúc đá thôn Nam Tiến</p>
<p>+ Kích thước Cúc đá và Hai mảnh vỏ khá lớn (vài chục đến 50 – 60cm) khẳng định độ sâu của trầm tích chứa hóa thạch không thể là môi trường biển nông ven bờ (0 – 30m nước), mà là môi trường thềm lục địa có độ sâu khoảng từ 50 – 200m nước. Và môi trường sinh cảnh lúc đó rất giàu dinh dưỡng, khí hậu ấm áp, thích nghị cho sinh vật thân mềm cùng các loại t</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/6f6e6824e0b54f5aaf3f62526d0402a8,umb://document/9285a40a0ceb43ac8d0c06760ec024b2]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Hóa Thạch Ammonit Nam Tiến]]></Value>
      <Value Culture="en-us"><![CDATA[Nam Tien ammonite fossils]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "91495034-8c91-42e6-80ff-7429d7b1e917",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7c09c639-43f4-4b0b-9095-473c41bee190",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Hóa Thạch Ammonit Nam Tiến"]]]></Value>
      <Value Culture="en-us"><![CDATA[["Nam Tien ammonite fossils"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Hóa Thạch Ammonit Nam Tiến]]></Value>
      <Value Culture="en-us"><![CDATA[Nam Tien ammonite fossils]]></Value>
    </title>
  </Properties>
</Content>