<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ab62022-6526-407b-8b02-08693fcfb0b6" Alias="Khám phá  - chuyên mục 2" Level="3">
  <Info>
    <Parent Key="24e857c2-f308-45a7-bc7a-804ad237dd3d">Khám phá</Parent>
    <Path>/TrangChu/KhamPha/KhamPhaChuyenMuc2</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-10-16T22:29:56</CreateDate>
    <NodeName Default="Khám phá  - chuyên mục 2">
      <Name Culture="en-us">List template</Name>
      <Name Culture="vi-vn">Khám phá  - chuyên mục 2</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/36a21df4c5564ed0af63390ee5ed03a0]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Short description of the list]]></Value>
      <Value Culture="vi-vn"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo ex. Donec cursus hendrerit diam, vitae fringilla ex vulputate ut. Ut dictum interdum risus, sodales hendrerit mi vehicula sit amet. Aliquam nec egestas orci, volutpat facilisis arcu. Etiam euismod, ex a gravida laoreet, risus lorem tincidunt diam, id elementum urna justo sed velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum mollis augue elit, vehicula posuere mi ultrices eu. Fusce suscipit odio risus, ultrices mollis lacus lacinia id. Duis tincidunt sollicitudin metus. Aliquam vitae pretium quam, ut sollicitudin purus.]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "7029d51e-70f9-464c-9cbd-41fa5fc86235",
    "mediaKey": "e7dc1527-f913-4018-be95-cb8cd0eb8f96",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "99fe8b29-d5a3-438d-9fe8-db7d2c0c2281",
    "mediaKey": "1ef49c38-9923-4c3a-bc9b-2e7dcb67361c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["List template"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài biết liên quan"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Title for content and navigation bar]]></Value>
      <Value Culture="vi-vn"><![CDATA[Khám phá  - chuyên mục 2]]></Value>
    </title>
  </Properties>
</Content>