<?xml version="1.0" encoding="utf-8"?>
<Content Key="77352d11-62fe-408d-b84d-71d5c404a3df" Alias="Khám phá - chuyên mục 1" Level="3">
  <Info>
    <Parent Key="24e857c2-f308-45a7-bc7a-804ad237dd3d">Khám phá</Parent>
    <Path>/TrangChu/KhamPha/KhamPhaChuyenMuc1</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-10-14T21:32:01</CreateDate>
    <NodeName Default="Khám phá - chuyên mục 1">
      <Name Culture="en-us">Piece of news list</Name>
      <Name Culture="vi-vn">Khám phá - chuyên mục 1</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7effb1a91a2b425981e82e9ced0ff224]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Short description of the list]]></Value>
      <Value Culture="vi-vn"><![CDATA[Khám phá - chuyên mục 1]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "9c5e7eea-36ed-4702-aff3-5b66ad3000df",
    "mediaKey": "e7dc1527-f913-4018-be95-cb8cd0eb8f96",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "64b6b0ae-cdba-4a09-82df-2653442cb1cf",
    "mediaKey": "1ef49c38-9923-4c3a-bc9b-2e7dcb67361c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Piece of news list"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài biết liên quan"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Title for content and navigation bar]]></Value>
      <Value Culture="vi-vn"><![CDATA[Khám phá - chuyên mục 1]]></Value>
    </title>
  </Properties>
</Content>