<?xml version="1.0" encoding="utf-8"?>
<Content Key="36a21df4-c556-4ed0-af63-390ee5ed03a0" Alias="Khám phá" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Danh mục</Parent>
    <Path>/TrangChu/DanhMuc/KhamPha</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T09:58:57</CreateDate>
    <NodeName Default="Khám phá">
      <Name Culture="en-us">Discover</Name>
      <Name Culture="vi-vn">Khám phá</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Discover]]></Value>
      <Value Culture="vi-vn"><![CDATA[Khám phá]]></Value>
    </title>
  </Properties>
</Content>