<?xml version="1.0" encoding="utf-8"?>
<Content Key="1391ed3f-46af-4746-8b3a-7e5ff6c62c64" Alias="Khám phá 1 &gt; Tin 2" Level="4">
  <Info>
    <Parent Key="77352d11-62fe-408d-b84d-71d5c404a3df">Khám phá - chuyên mục 2</Parent>
    <Path>/TrangChu/KhamPhaCVDC/KhamPhaChuyenMuc2/KhamPha1Tin2</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-10-14T21:33:18</CreateDate>
    <NodeName Default="Khám phá 1 &gt; Tin 2">
      <Name Culture="en-us">News article template (1)</Name>
      <Name Culture="vi-vn">Khám phá 1 &gt; Tin 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="fafcd7d4-8ff6-462a-b40f-40f4674d3821">Detail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[<p>Nội dung chính của bài viết</p>]]></Value>
      <Value Culture="en-us"><![CDATA[<p>Main content of the article</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7effb1a91a2b425981e82e9ced0ff224]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Mô tả ngắn cho bài viết]]></Value>
      <Value Culture="en-us"><![CDATA[Short description for the article]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề đầu trang ]]></Value>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "35bd037b-232c-4d5a-ab05-0ea8c69d0059",
    "mediaKey": "419b30ec-7c1d-4414-a817-fe8719f09b7b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "00c3925b-c8b5-4eb9-9a42-696e4e51e4ca",
    "mediaKey": "a072f463-2f73-4929-a184-7ba44ad34609",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài viết liên quan"]]]></Value>
      <Value Culture="en-us"><![CDATA[["News article template"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề cho nội dung]]></Value>
      <Value Culture="en-us"><![CDATA[Title for content]]></Value>
    </title>
  </Properties>
</Content>