<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b961740-5193-4a96-97a4-9c3518b35e25" Alias="Lễ hội" Level="4">
  <Info>
    <Parent Key="00a5417b-f724-4847-b21c-3dcb87be40e7">DI SẢN VĂN HÓA</Parent>
    <Path>/TrangChu/DiSanCVDC/DISANVANHOA/LeHoi</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-22T11:41:55</CreateDate>
    <NodeName Default="Lễ hội">
      <Name Culture="en-us">Festivals</Name>
      <Name Culture="vi-vn">Lễ hội</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/dc2b90ad6f584dd6b8da1225340eea8f,umb://document/6d8603c234f943ffa82ecc761cb25fb7]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Lễ hội]]></Value>
      <Value Culture="en-us"><![CDATA[Festivals]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "07d16787-8fc2-4b4c-bcd4-f9002642b22e",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Lễ hội"]]]></Value>
      <Value Culture="en-us"><![CDATA[["Festivals"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Lễ hội]]></Value>
      <Value Culture="en-us"><![CDATA[Festivals]]></Value>
    </title>
  </Properties>
</Content>