<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f07cc3f-fc9d-4b77-9520-1eb5f8bb9b3d" Alias="Nhà hàng" Level="3">
  <Info>
    <Parent Key="49e86fcf-f767-475d-9e5f-f3f42c806916">Đối tác</Parent>
    <Path>/TrangChu/DoiTac/NhaHang</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:49:25</CreateDate>
    <NodeName Default="Nhà hàng">
      <Name Culture="en-us">Restaurants</Name>
      <Name Culture="vi-vn">Nhà hàng</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="07020492-8dac-49f7-bce5-5f8522254409">PartnerList</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/b1f429875c4f4c01ba064ea063133ac4,umb://document/26a1a058e22f422689ec3f0abfd8e911]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Nhà hàng]]></Value>
      <Value Culture="en-us"><![CDATA[Restaurants]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Restaurants]]></Value>
      <Value Culture="vi-vn"><![CDATA[Nhà hàng]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "8dbf4396-b55a-4522-b7e0-349706f800e5",
    "mediaKey": "3e554b0c-0a9d-4308-af40-a65fb2af9936",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "aa05a811-caa4-474b-948f-6233133d7f32",
    "mediaKey": "d2cf6f0e-23f6-46bb-adad-8200329132ad",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Restaurants"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Nhà hàng"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Restaurants]]></Value>
      <Value Culture="vi-vn"><![CDATA[Nhà hàng]]></Value>
    </title>
  </Properties>
</Content>