<?xml version="1.0" encoding="utf-8"?>
<Content Key="26a1a058-e22f-4226-89ec-3f0abfd8e911" Alias="Nhà hàng" Level="4">
  <Info>
    <Parent Key="721a5789-4024-4e16-9b07-1aac8e1f2645">Đối tác</Parent>
    <Path>/TrangChu/DanhMuc/DoiTac/NhaHang</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-10-10T17:30:37</CreateDate>
    <NodeName Default="Nhà hàng">
      <Name Culture="en-us">Restaurant</Name>
      <Name Culture="vi-vn">Nhà hàng</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Restaurant]]></Value>
      <Value Culture="vi-vn"><![CDATA[Nhà hàng]]></Value>
    </title>
  </Properties>
</Content>