<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0b0ae8b-2aac-4b33-816d-b5adfbfc9642" Alias="Quyết định thành lập Công viên địa chất Đắk Nông" Level="3">
  <Info>
    <Parent Key="8b812589-082f-4ecd-b8b2-324e8b8dc529">Văn bản</Parent>
    <Path>/TrangChu/VanBan/QuyetDinhThanhLapCongVienDiaChatDakNong</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T07:02:34</CreateDate>
    <NodeName Default="Quyết định thành lập Công viên địa chất Đắk Nông">
      <Name Culture="en-us">Decision to establish Dak Nong Geopark</Name>
      <Name Culture="vi-vn">Quyết định thành lập Công viên địa chất Đắk Nông</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p><img class="wp-image-4736" src="http://daknonggeopark.com/wp-content/uploads/2019/12/2199-Q%C4%90-UBND-737x1024.jpg" alt="Quyết định thành lập Công viên địa chất Đắk Nông" /></p>
<p>Decision No. 2199/QD-UBND, December 31, 2015 of the People's Committee of Dak Nong Province on the establishment of Krong No Volcanic Geopark, Dak Nong Province (now Dak Nong Geopark)</p>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<div class="single-post-wrap entry-content">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?width=626&amp;height=937&amp;mode=max" alt="" width="626" height="937" data-udi="umb://media/f93ee9154da34332b1cfd1cc93fb9d01" /></p>
<p>Quyết định số 2199/QĐ-UBND, ngày 31 tháng 12 năm 2015 của Ủy ban nhân dân tỉnh Đắk Nông về việc thành lập Công viên địa chất núi lửa Krông Nô, tỉnh Đắk Nông (nay là Công viên địa chất Đắk Nông)</p>
</div>
<div class="section section-blog-info">
<div class="row">
<div class="col-md-6">
<div class="entry-categories"></div>
</div>
</div>
</div>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/8721fd300bbe40a7b619470ca7be25c4]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-15T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Quyết định số 2199/QĐ-UBND]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Decision to establish Dak Nong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Quyết định thành lập Công viên địa chất Đắk Nông]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "61b7bb57-86de-4950-a994-67cf4690de14",
    "mediaKey": "abf22071-7c3d-4f64-94f8-275968411cb5",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "8ea24dcb-15e3-4bd7-a180-7b1f02ced30b",
    "mediaKey": "c5d7063e-4e10-4a13-9e83-330c017c8c75",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Decision to establish Dak Nong Geopark","No. 2199/QD-UBND"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Quyết định thành lập Công viên địa chất Đắk Nông","Quyết định số 2199/QĐ-UBND"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Decision to establish Dak Nong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Văn bản quyết định thành lập Công viên địa chất Đắk Nông]]></Value>
    </title>
  </Properties>
</Content>