<?xml version="1.0" encoding="utf-8"?>
<Content Key="350c18b0-89a7-43b9-b344-a60be227ef36" Alias="Quản lý loại bài viết" Level="2">
  <Info>
    <Parent Key="0789bf43-f210-4ac2-bd73-ae0fcad1ff7f">Trang chủ</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet</Path>
    <Trashed>false</Trashed>
    <ContentType>contentsFolder</ContentType>
    <CreateDate>2021-09-22T09:29:27</CreateDate>
    <NodeName Default="Quản lý loại bài viết" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>