<?xml version="1.0" encoding="utf-8"?>
<Content Key="7577ccfa-9736-468a-a538-107bfe68409e" Alias="Sản phẩm địa phương" Level="3">
  <Info>
    <Parent Key="49e86fcf-f767-475d-9e5f-f3f42c806916">Đối tác</Parent>
    <Path>/TrangChu/DoiTac/SanPhamDiaPhuong</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:49:53</CreateDate>
    <NodeName Default="Sản phẩm địa phương">
      <Name Culture="en-us">Local specialities</Name>
      <Name Culture="vi-vn">Sản phẩm địa phương</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="07020492-8dac-49f7-bce5-5f8522254409">PartnerList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/b1f429875c4f4c01ba064ea063133ac4,umb://document/b14ffa4a1df04b12a76872b6a75fc26e]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Local specialities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Sản phẩm địa phươngđịa phương]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Local specialities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Sản phẩm địa phương]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "c409fe1e-6279-4729-8274-b2a302a4b8cc",
    "mediaKey": "45e7035c-005f-44a7-a776-4a6dc24a4f0c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "2f5288d2-8dd4-4753-9a1f-ec99c5dc5568",
    "mediaKey": "b285bf25-6542-47bb-91b7-fe0f8bc12e2f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Local specialities"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Sản phẩm địa phương"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Local specialities]]></Value>
      <Value Culture="vi-vn"><![CDATA[Sản phẩm địa phương]]></Value>
    </title>
  </Properties>
</Content>