<?xml version="1.0" encoding="utf-8"?>
<Content Key="b14ffa4a-1df0-4b12-a768-72b6a75fc26e" Alias="Sản phẩm địa phương" Level="4">
  <Info>
    <Parent Key="721a5789-4024-4e16-9b07-1aac8e1f2645">Đối tác</Parent>
    <Path>/TrangChu/DanhMuc/DoiTac/SanPhamDiaPhuong</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-10-10T17:31:18</CreateDate>
    <NodeName Default="Sản phẩm địa phương">
      <Name Culture="en-us">Local products</Name>
      <Name Culture="vi-vn">Sản phẩm địa phương</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Local products]]></Value>
      <Value Culture="vi-vn"><![CDATA[Sản phẩm địa phương]]></Value>
    </title>
  </Properties>
</Content>