<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dbbae5e-f040-4dd0-81a2-5bc2c105ca68" Alias="Thông tin về Nam Nung" Level="3">
  <Info>
    <Parent Key="86ee6e54-af0d-4b94-95c4-0c402d14b151">Giới thiệu</Parent>
    <Path>/TrangChu/GioiThieu/ThongTinVeNamNung</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T06:59:12</CreateDate>
    <NodeName Default="Thông tin về Nam Nung">
      <Name Culture="en-us">Daknong Geopark</Name>
      <Name Culture="vi-vn">Thông tin về Nam Nung</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="en-us"><![CDATA[<p>Dak Nong Geopark covers 4,760 km<sup>2</sup> of 5 districts and 1 town, including Krong No, Cu Jut, Dak Mil, Dak Song, Dak G’long districts and Gia Nghia town.</p>
<p>Its history begins 140 millions years ago when an ocean was covering this area. Limestone, ammonites and various fossils are the silencious witness of this marine past. More recently, volcanoes were there. Their lava gives the basalt covering half of the area. About 10.000 years ago they were still active! This territory is also renowned as biggest volcanic cave system in Southeast Asia, inhabited by prehistoric people tens thousands of years ago.</p>
<p>Dak Nong is as well famous for its rich ethnic identity. Originally inhabited by three indigenous peoples (M’Nong, Ede and Ma), in the late 70s it has received numerous people from other provinces to become the homeland of more than 40 ethnic groups of Vietnam. Dak Nong as part of the “Central Highlands Gong Culture Space” was also recogbized by UNESCO as Intangible Cultural Heritage.</p>
<p>Dak Nong is also known by the first findings in the world of a lithophone, created 3,000 years ago, by prehistoric people from basalt. One of the oldest mankind’s musical instruments. Along with the gongs, epics and other ethnic musical instruments, the sound of streams and waterfalls, of volcanic eruptions, the voices of birds and animals, the murmuring of the wind, and even, in the recent past, the violent clashes of weapons, the lithophone deserves to become the main tone of the Dak Nong Geopark. Come and visit Dak Nong Geopark – The Lands of sounds to experience the “Rhapsody of Fire and Water”, enjoy the “Wind of Changes Concerto”, and listen to the “Sounds of the Earth”.</p>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Nói đến khu du lịch sinh thái ở Đắk Nông thì không ai mà không nhắc đến khu bảo tồn thiên nhiên Nâm Nung. Nơi đây nổi tiếng bởi lẽ sự hoang sơ, hùng vĩ của cảnh vật mà không phải ở đâu bạn cũng có thể thấy được. Nếu bạn không tin thì những hình ảnh trong bài viết này chắc chắn sẽ thuyết phục bạn</p>
<p style="text-align: center;"><img src="?width=500&amp;height=332.7171903881701" alt="" width="500" height="332.7171903881701" data-udi="umb://media/16de6f58c5c9450aa19ee2992fae3b47" /></p>
<p style="text-align: center;"><img src="?width=500&amp;height=332.7171903881701" alt="" width="500" height="332.7171903881701" data-udi="umb://media/e1ea471600d94bb797a114e0c672c8f9" /><br />Lối mòn bằng rừng (nguồn: internet)</p>
<p><strong>Tên địa điểm:</strong> Khu bảo tồn thiên nhiên Nâm Nung</p>
<p><strong>Địa chỉ:</strong> thuộc địa giới hành chính của 5 xã Nam Nung, Nâm N’đia, Đức Xuyên (huyện Krông Nô), xã Quảng Sơn (huyện Đắk Song), Nâm N’Jang</p>
<p><strong>Cách di chuyển:</strong> từ thành phố Gia Nghĩa bạn di chuyển khoảng 40km về hướng Bắc sẽ tới Nâm Nung</p>
<p><strong>Mức giá:</strong> không tính phí</p>
<p><strong>Thời gian hoạt động:</strong> cả ngày</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://tripzone.vn/uploads/202104/17/28/122839-nam-nung-2.jpg?width=537&amp;height=301&amp;mode=max" alt="" width="537" height="301" />cắm trại quanh thác giữa rừng (nguồn: internet)</p>
<p>Khu bảo tồn thiên nhiên Nâm Nung vẫn luôn là địa điểm du lịch thu hút hàng trăm du khách đến đây mỗi năm dù chỉ nằm ẩn mình sâu trong núi. Nơi đây là một quần thể giàu tiềm năng du lịch với rừng núi tự nhiên, danh lam thắng cảnh và di tích lịch sử. Nâm Nung được bao phủ bởi khu rừng rậm rạm với tuổi thọ lên đến hàng trăm năm cùng với hệ thống thác nước, sông suối dày đặc.</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://tripzone.vn/uploads/202104/17/28/123011-nam-nung-3.jpg?width=612&amp;height=344&amp;mode=max" alt="" width="612" height="344" /><br />toàn cảnh khu bảo tồn (nguồn: internet)</p>
<p>Hiện tại thì toàn khu bảo tồn có diện tích đến hơn 20.000ha với hệ thống động thực vật phong phú đa dạng. Thoạt nhìn thì bạn sẽ nghĩ rằng đây là một khu rừng bình thường nhưng bên trong lại có rất nhiều khu vực được chia thành nhiều khung cảnh địa hình khác nhau nên giúp du khách có nhiều sự lựa chọn khác nhau từ trải nghiệm, nghĩ dưỡng cho đến tham quan. Tuy nhiên vì địa hình đa dạng và phức tạp nên không nên đi một mình hay đơn lẻ để tránh gặp nguy hiểm nhé.</p>
<p style="text-align: center;"><img src="https://tripzone.vn/uploads/202104/17/28/123043-nam-nung-4.jpg?width=588&amp;height=391&amp;mode=max" alt="" width="588" height="391" /><br />check in bên thác Nâm Nung (nguồn: fb Thi Thi)</p>
<p>Khu bảo tồn thiên nhiên Nâm Nung còn được xem là nóc nhà của Đắk Nông với đỉnh cao hơn 1500m chia cắt khí hậu của tỉnh Đắk Nông thành hai miền rõ rệt. Từ đỉnh tạo thành nhiều dòng suối đổ xuống tạo thành thác nước trắng xoá, đầy thơ mộng. Thêm vào đó, khu bảo tồn nằm trên độ cao 800m so với mực nước biển nên không khí ở đây lúc nào cũng thoáng mát, tươi xanh, cùng với phong cảnh hữu tình khiến du khách không nỡ đi về,</p>
<p>Khi đi sâu vào bên trong bạn sẽ thấy một trong những ngọn thác đẹp nhất của Đắk Nông là thác Bảy Tầng với tuyến đường đi khá khó khăn nhưng đến nơi thì bất cứ ai cũng sẽ thấy thỏa mãn bởi khung cảnh vô cùng xinh đẹp này. Tiếp tục đi sẽ đến được thác Gấu cũng hùng vĩ không kém. Bên cạnh đó thì bạn cũng sẽ ngỡ ngàng bởi cảnh sắc đẹp như tranh của thác Len Gun và thác Lưu Ly, những tán lá đỏ rực tô điểm cho dòng thác trắng xoá đổ xuống như vẫy gọi sự chú ý của bạn.</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://tripzone.vn/uploads/202104/17/28/123217-nam-nung-5.jpg?width=537&amp;height=403&amp;mode=max" alt="" width="537" height="403" />Không thể bỏ lỡ cảnh hoàng hôn (nguồn: FB Nem)</p>
<p>Nằm ẩn sâu giữa núi rừng là khu di tích lịch sử Quốc gia lưu giữ những dấu tích của cha ông ta trong những cuộc chiến chống thực dân Pháp và đế quốc Mỹ gọi là căn cứ kháng chiến B4 – Liên khu IV. Đây là một phần quan trọng mà người dân Đắk Nông luôn giữ gìn và bảo tồn trong những năm qua. Thời gian mà bạn khám phá ở khu bảo tồn Nâm Nung chắc chắn sẽ giúp bạn có những trải nghiệm khó quên đấy.</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7c3c965ed1ae4c48ac3f66f95bb4a3e6]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Thông tin về Nam Nung]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Daknong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Thông tin về Nam Nung]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "99e77596-36f5-4b6c-8d47-f59e45e24fae",
    "mediaKey": "23477a45-edfe-4e7a-a258-6ecff8724b83",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "4eded707-c848-4713-997c-06c1fed0a24b",
    "mediaKey": "fd6b27e0-298f-4d49-8444-7c11c1f7c40a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Thông tin về CVĐC","Công viên Địa chất Đắk Nông","Huyện Krông Nô, Cư Jút, Đắk Mil, Đắk Song, Đắk G’long và thị xã Gia Nghĩa."]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Daknong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Thông tin về Nam Nung]]></Value>
    </title>
  </Properties>
</Content>