<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dbbae5e-f040-4dd0-81a2-5bc2c105ca68" Alias="Thông tin về CVĐC" Level="3">
  <Info>
    <Parent Key="86ee6e54-af0d-4b94-95c4-0c402d14b151">Giới thiệu</Parent>
    <Path>/TrangChu/GioiThieu/ThongTinVeCVDC</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T06:59:12</CreateDate>
    <NodeName Default="Thông tin về CVĐC">
      <Name Culture="en-us">Daknong Geopark</Name>
      <Name Culture="vi-vn">Thông tin về CVĐC</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p>Dak Nong Geopark covers 4,760 km<sup>2</sup> of 5 districts and 1 town, including Krong No, Cu Jut, Dak Mil, Dak Song, Dak G’long districts and Gia Nghia town.</p>
<p>Its history begins 140 millions years ago when an ocean was covering this area. Limestone, ammonites and various fossils are the silencious witness of this marine past. More recently, volcanoes were there. Their lava gives the basalt covering half of the area. About 10.000 years ago they were still active! This territory is also renowned as biggest volcanic cave system in Southeast Asia, inhabited by prehistoric people tens thousands of years ago.</p>
<p>Dak Nong is as well famous for its rich ethnic identity. Originally inhabited by three indigenous peoples (M’Nong, Ede and Ma), in the late 70s it has received numerous people from other provinces to become the homeland of more than 40 ethnic groups of Vietnam. Dak Nong as part of the “Central Highlands Gong Culture Space” was also recogbized by UNESCO as Intangible Cultural Heritage.</p>
<p>Dak Nong is also known by the first findings in the world of a lithophone, created 3,000 years ago, by prehistoric people from basalt. One of the oldest mankind’s musical instruments. Along with the gongs, epics and other ethnic musical instruments, the sound of streams and waterfalls, of volcanic eruptions, the voices of birds and animals, the murmuring of the wind, and even, in the recent past, the violent clashes of weapons, the lithophone deserves to become the main tone of the Dak Nong Geopark. Come and visit Dak Nong Geopark – The Lands of sounds to experience the “Rhapsody of Fire and Water”, enjoy the “Wind of Changes Concerto”, and listen to the “Sounds of the Earth”.</p>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Công viên Địa chất Đắk Nông có diện tích 4.760 km<sup>2</sup>, bao gồm các huyện Krông Nô, Cư Jút, Đắk Mil, Đắk Song, Đắk G’long và thị xã Gia Nghĩa.</p>
<p>Lịch sử của vùng đất này bắt nguồn từ 140 triệu năm cách ngày nay, khi nơi đây còn là một phần của đại dương rộng lớn với các dấu tích được tìm thấy như đá trầm tích, hóa thạch cúc đá và các loại hóa thạch khác. Do các vận<em> động</em><em> </em>kiến tạo của lớp vỏ Trái đất, khu vực này được <em>nâng lên</em> và xuất hiện <em>núi lửa</em>. Chính hoạt động phun trào núi lửa đã che phủ đến một nửa diện tích khu vực này bởi các lớp dung nham bazan. Đáng ngạc nhiên là, cách đây khoảng 10.000 năm, núi lửa vẫn còn hoạt động, tạo nên hệ thống hang động núi lửa độc đáo, đồ sộ nhất khu vực Đông Nam Á, trong đó đặc biệt đã phát hiện được dấu tích cư trú của người tiền sử từ khoảng 10.000 năm cách ngày nay.</p>
<p>Đây cũng là quê hương của 3 dân tộc bản địa Mạ, M’nông, Êđê. Vào cuối những năm 70 của thế kỷ trước, nhiều dân tộc phía Bắc đã di cư đến Đắk Nông lập nghiệp, biến nơi đây thành vùng đất đa sắc màu văn hóa của hơn 40 dân tộc. Bên cạnh đó, vùng đất Đắk Nông còn là một phần của “Không gian văn hóa cồng chiêng Tây Nguyên” đã được tổ chức UNESCO công nhận là “Kiệt tác Di sản văn hóa phi vật thể của nhân loại” năm 2005. Trong đó đáng chú ý có việc phát hiện ra bộ đàn đá cổ được chế tác từ đá bazan có niên đại khoảng 2.500 năm – là một trong những nhạc cụ lâu đời nhất của nhân loại. Trong âm thanh rộn ràng của cồng chiêng, sử thi và các nhạc cụ dân tộc, hòa cùng tiếng gió reo, thác đổ, tiếng cỏ cây hoa lá, tiếng núi lửa phun trào và cả những âm vang hào hùng của những bản tráng ca lịch sử, đàn đá nổi bật lên như là biểu tượng của sự kết tinh các âm điệu trong vùng Công viên Địa chất Đắk Nông.</p>
<p>Hãy đến với Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu để trải nghiệm “Trường ca của Lửa và Nước”, thưởng thức “Bản giao hưởng của Làn gió mới” và lắng nghe “Âm vang từ Trái Đất”.</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7c3c965ed1ae4c48ac3f66f95bb4a3e6]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Công viên Địa chất Đắk Nông]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Daknong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Thông tin về CVĐC]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "99e77596-36f5-4b6c-8d47-f59e45e24fae",
    "mediaKey": "23477a45-edfe-4e7a-a258-6ecff8724b83",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "4eded707-c848-4713-997c-06c1fed0a24b",
    "mediaKey": "fd6b27e0-298f-4d49-8444-7c11c1f7c40a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Thông tin về CVĐC","Công viên Địa chất Đắk Nông","Huyện Krông Nô, Cư Jút, Đắk Mil, Đắk Song, Đắk G’long và thị xã Gia Nghĩa."]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Daknong Geopark]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công viên Địa chất Đắk Nông]]></Value>
    </title>
  </Properties>
</Content>