<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae2ff314-6134-4771-923a-48bcde81ea29" Alias="Thư viện" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Quản lý loại bài viết</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/ThuVien</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T17:10:05</CreateDate>
    <NodeName Default="Thư viện">
      <Name Culture="en-us">Library</Name>
      <Name Culture="vi-vn">Thư viện</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Library]]></Value>
      <Value Culture="vi-vn"><![CDATA[Thư viện]]></Value>
    </title>
  </Properties>
</Content>