<?xml version="1.0" encoding="utf-8"?>
<Content Key="56bb8a65-3239-4a23-9f71-1a1409035fec" Alias="Tin tức - chuyên mục 1" Level="3">
  <Info>
    <Parent Key="e7a63696-bb7b-432f-9d95-c786733cb60c">Tin tức</Parent>
    <Path>/TrangChu/TinTuc/TinTucChuyenMuc1</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-10-16T22:28:53</CreateDate>
    <NodeName Default="Tin tức - chuyên mục 1">
      <Name Culture="en-us">Piece of news list</Name>
      <Name Culture="vi-vn">Tin tức - chuyên mục 1</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/7effb1a91a2b425981e82e9ced0ff224]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Mô tả ngắn danh sách]]></Value>
      <Value Culture="en-us"><![CDATA[Short description of the list]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề đầu trang ]]></Value>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "ff9c5e09-4730-4e0a-8894-bf8d30342b15",
    "mediaKey": "419b30ec-7c1d-4414-a817-fe8719f09b7b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "9053aef4-8d07-4b9c-ac86-95f08e262089",
    "mediaKey": "a072f463-2f73-4929-a184-7ba44ad34609",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài biết liên quan"]]]></Value>
      <Value Culture="en-us"><![CDATA[["Piece of news list"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề cho nội dung và thanh điều hướng]]></Value>
      <Value Culture="en-us"><![CDATA[Title for content and navigation bar]]></Value>
    </title>
  </Properties>
</Content>