<?xml version="1.0" encoding="utf-8"?>
<Content Key="7effb1a9-1a2b-4259-81e8-2e9ced0ff224" Alias="Tin tức" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Quản lý loại bài viết</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/TinTuc</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T09:50:52</CreateDate>
    <NodeName Default="Tin tức">
      <Name Culture="en-us">News</Name>
      <Name Culture="vi-vn">Tin tức</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[News]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tin tức]]></Value>
    </title>
  </Properties>
</Content>