<?xml version="1.0" encoding="utf-8"?>
<Content Key="667bc164-c82e-42e7-a341-588e62ab4a96" Alias="Trường học địa phương" Level="3">
  <Info>
    <Parent Key="92cc559a-f912-43d7-9eca-aa633ea89a89">Hoạt động giáo dục</Parent>
    <Path>/TrangChu/HoatDongGiaoDuc/TruongHocDiaPhuong</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:37:49</CreateDate>
    <NodeName Default="Trường học địa phương">
      <Name Culture="en-us">Local schools</Name>
      <Name Culture="vi-vn">Trường học địa phương</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/6f2afae67b7f4db7bac221d864e386b4,umb://document/eba36b0f211744b0b484be963115f8cc]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headingTitle>
      <Value Culture="vi-vn"><![CDATA[Trường học địa phương]]></Value>
      <Value Culture="en-us"><![CDATA[Local schools]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "e72c426a-4324-4cfc-ab56-56b588685ea5",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7587d527-99a7-4e19-adfb-bd6da3fb7d4c",
    "mediaKey": "256f9481-b5b1-4233-9405-3c54d4db4671",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[["Trường học địa phương"]]]></Value>
      <Value Culture="en-us"><![CDATA[["Local schools"]]]></Value>
    </tags>
    <title>
      <Value Culture="vi-vn"><![CDATA[Trường học địa phương]]></Value>
      <Value Culture="en-us"><![CDATA[Local schools]]></Value>
    </title>
  </Properties>
</Content>