<?xml version="1.0" encoding="utf-8"?>
<Content Key="eba36b0f-2117-44b0-b484-be963115f8cc" Alias="Trường học địa phương" Level="4">
  <Info>
    <Parent Key="097d2b5d-b4b8-43f7-bf66-058cd03f6d47">Hoạt động giáo dục</Parent>
    <Path>/TrangChu/DanhMuc/HoatDongGiaoDuc/TruongHocDiaPhuong</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T17:52:33</CreateDate>
    <NodeName Default="Trường học địa phương">
      <Name Culture="en-us">Local schools</Name>
      <Name Culture="vi-vn">Trường học địa phương</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Local schools]]></Value>
      <Value Culture="vi-vn"><![CDATA[Trường học địa phương]]></Value>
    </title>
  </Properties>
</Content>