<?xml version="1.0" encoding="utf-8"?>
<Content Key="86aa1408-caee-4f32-9b63-78761dcdfd42" Alias="Tuyến Trường ca của Lửa và Nước" Level="3">
  <Info>
    <Parent Key="24e857c2-f308-45a7-bc7a-804ad237dd3d">Khám phá CVĐC</Parent>
    <Path>/TrangChu/KhamPhaCVDC/TuyenTruongCaCuaLuaVaNuoc</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T07:08:48</CreateDate>
    <NodeName Default="Tuyến Trường ca của Lửa và Nước">
      <Name Culture="en-us">Rhapsody of Fire and Water</Name>
      <Name Culture="vi-vn">Tuyến Trường ca của Lửa và Nước</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p><img class="wp-image-5108" src="http://daknonggeopark.com/wp-content/uploads/2020/01/hang-dong-nui-lua.jpg" alt="volcanic cave" />volcanic cave</p>
<p>Dak Nong Aspiring UNESCO Global Geopark, The Land of sounds – invites you along the route “RHAPSODY OF FIRE AND WATER”, beginning from Gia Nghia and ending at Gia Long waterfall. Majestic volcanoes like those existing today in the Hawaii Islands, which were active here until 10,000 years ago and are now historical sites linked with Vietnamese independence will be for you, throughout the day, the sound of fire. A wonderful waterfall, rice field landscape, and rain weathering the soils to create new minerals will be the sound of water. All these sites constitute a piece of music with no formal structure but expresses powerful feelings: a rhapsody – The RHAPSODY OF FIRE AND WATER.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5110" src="http://daknonggeopark.com/wp-content/uploads/2020/01/dray-sap.jpg" alt="" data-id="5110" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/dray-sap.jpg" data-link="http://daknonggeopark.com/rhapsody-of-fire-and-water/dray-sap-4/" />D’ray Sap waterfall</li>
<li class="blocks-gallery-item"><img class="wp-image-5111" src="http://daknonggeopark.com/wp-content/uploads/2020/01/lang-nghe-dan-lat-mnong.jpg" alt="" data-id="5111" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/lang-nghe-dan-lat-mnong.jpg" data-link="http://daknonggeopark.com/rhapsody-of-fire-and-water/lang-nghe-dan-lat-mnong-2/" />M’nong knitting village</li>
</ul>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5112" src="http://daknonggeopark.com/wp-content/uploads/2020/01/de-duy-hung-1.jpg" alt="" data-id="5112" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/de-duy-hung-1.jpg" data-link="http://daknonggeopark.com/rhapsody-of-fire-and-water/de-duy-hung-1/" />Duy Hung goat farm</li>
<li class="blocks-gallery-item"><img class="wp-image-5113" src="http://daknonggeopark.com/wp-content/uploads/2020/01/nam-kar.jpg" alt="" data-id="5113" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/nam-kar.jpg" data-link="http://daknonggeopark.com/rhapsody-of-fire-and-water/nam-kar-2/" />Nam Kar vocanoes</li>
</ul>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Công viên Địa chất Đắk Nông  – Xứ sở của những Âm điệu – xin mời bạn đến với hành trình “Trường ca của Lửa và Nước”, được bắt đầu từ thị xã Gia Nghĩa đến thác Gia Long. Trên hành trình, chúng ta sẽ được trải nghiệm những ngọn núi lửa hùng vĩ đã từng hoạt động từ khoảng 10.000 năm cách ngày nay, có cơ chế hoạt động cũng giống như những núi lửa hiện đại ở Hawaii, những điểm di tích lịch sử gắn liền với công cuộc giải phóng dân tộc Việt Nam sẽ được giới thiệu đến du khách bằng những âm thanh của lửa, hợp cùng giai điệu của nước thông qua các thác nước hùng vĩ, đẹp mắt chảy tràn trên những cột đá bazan hình thành do dung nham chảy chậm, đông nguội và co ngót.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-4356" src="http://daknonggeopark.com/wp-content/uploads/2019/12/%C4%90i%E1%BB%83m-s%E1%BB%91-12.-Th%C3%A1c-Dray-S%C3%A1p-1024x768.jpg" alt="" data-id="4356" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/Điểm-số-12.-Thác-Dray-Sáp-scaled.jpg" data-link="http://daknonggeopark.com/tuyen-truong-ca-cua-lua-va-nuoc/diem-so-12-thac-dray-sap/" />Thác D’ray Sáp</li>
<li class="blocks-gallery-item"><img class="wp-image-4354" src="http://daknonggeopark.com/wp-content/uploads/2019/12/%C4%90i%E1%BB%83m-s%E1%BB%91-2.-trang-tr%E1%BA%A1i-d%C3%AA-Duy-H%C3%B9ng-1024x683.jpg" alt="" data-id="4354" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/Điểm-số-2.-trang-trại-dê-Duy-Hùng-scaled.jpg" data-link="http://daknonggeopark.com/tuyen-truong-ca-cua-lua-va-nuoc/diem-so-2-trang-trai-de-duy-hung/" />Trang trại dê Duy Hùng</li>
<li class="blocks-gallery-item"><img class="wp-image-4355" src="http://daknonggeopark.com/wp-content/uploads/2019/12/%C4%90i%E1%BB%83m-s%E1%BB%91-3.-L%C3%A0ng-ngh%E1%BB%81-%C4%91an-l%C3%A1t-Mn%C3%B4ng-1024x768.jpg" alt="" data-id="4355" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/Điểm-số-3.-Làng-nghề-đan-lát-Mnông-scaled.jpg" data-link="http://daknonggeopark.com/tuyen-truong-ca-cua-lua-va-nuoc/diem-so-3-lang-nghe-dan-lat-mnong/" />Làng nghề đan lát M’nông</li>
</ul>
<p>Cùng với những đồng lúa xanh ngút ngàn dưới chân núi lửa, cánh đồng dung nham… tạo ra những sản phẩm từ cây công nghiệp, nông nghiệp đem lại hiệu quả kinh tế cao. Đặc biệt hơn là những mỏ khoáng sản có giá trị hình thành bởi nguồn khoáng chất nằm sâu trong lòng Trái đất, tích tụ cùng quá trình phun trào và đông nguội dung nham đã tạo nên những âm điệu trên suốt hành trình khám phá, sự kết hợp dường như không tưởng giữa lửa và nước sẽ mang lại cho du khách một cảm xúc mãnh liệt tạo nên TRƯỜNG CA CỦA LỬA VÀ NƯỚC.</p>
<p><img class="wp-image-4532" src="http://daknonggeopark.com/wp-content/uploads/2019/12/nam-kar.jpg" alt="Núi lửa Nâm Kar" />Núi lửa Nâm Kar<img class="wp-image-4533" src="http://daknonggeopark.com/wp-content/uploads/2019/12/canh-dong-lua-duoi-chan-nui-lua-1024x409.jpg" alt="Cánh đồng lúa dưới chân núi lửa" />Cánh đồng lúa dưới chân núi lửa<img class="wp-image-4534" src="http://daknonggeopark.com/wp-content/uploads/2019/12/hang-dong-nui-lua.jpg" alt="Hang động núi lửa" />Hang động núi lửa</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/36a21df4c5564ed0af63390ee5ed03a0]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu – xin mời bạn đến với hành trình “Trường ca của Lửa và Nước”, được bắt đầu từ thị xã Gia Nghĩa đến thác Gia Long.]]></Value>
      <Value Culture="en-us"><![CDATA[Dak Nong Aspiring UNESCO Global Geopark, The Land of sounds – invites you along the route “RHAPSODY OF FIRE AND WATER”]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Rhapsody of Fire and Water]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tuyến Trường ca của Lửa và Nước]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "88e245b7-b9c5-4d44-a6d6-9d9f6e554264",
    "mediaKey": "d2a19f38-b71a-48b2-8392-72d3aecfc5f9",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "d08117b9-07f0-4da4-94a1-593a4856e137",
    "mediaKey": "38444307-75ab-42c1-bf21-9fcccc7e2852",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Rhapsody of Fire and Water"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Tuyến Trường ca của Lửa và Nước","Trường ca của Lửa và Nước"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Rhapsody of Fire and Water]]></Value>
      <Value Culture="vi-vn"><![CDATA[Trường ca của Lửa và Nước]]></Value>
    </title>
  </Properties>
</Content>