<?xml version="1.0" encoding="utf-8"?>
<Content Key="334d9f10-f9f7-4703-a6df-7dd4cb0b0f66" Alias="Tuyến Bản giao hưởng của Làn gió mới" Level="3">
  <Info>
    <Parent Key="24e857c2-f308-45a7-bc7a-804ad237dd3d">Khám phá CVĐC</Parent>
    <Path>/TrangChu/KhamPhaCVDC/TuyenBanGiaoHuongCuaLanGioMoi</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-19T07:09:33</CreateDate>
    <NodeName Default="Tuyến Bản giao hưởng của Làn gió mới">
      <Name Culture="en-us">Sound of the Earth</Name>
      <Name Culture="vi-vn">Tuyến Bản giao hưởng của Làn gió mới</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="en-us"><![CDATA[<p><img class="wp-image-5117" src="http://daknonggeopark.com/wp-content/uploads/2020/01/thac-trinh-nu.jpg" alt="Bang Rup rapid" />Bang Rup rapid</p>
<p>Dak Nong Aspiring UNESCO Global Geopark, The Land of Sounds, invites you along the route “WIND OF CHANGE CONCERTO<strong>”, </strong>beginning from Cu Jut and ending in Gia Nghia. Here, volcanoes have changed, through their lava flows, the past landscapes of this area. Important historical sites have been created to strongly express Vietnamese independence. Organic farms show a new path for a change to better sustainable use and dialogue with our planet. Several of these sites are associated with the wind and all of them are indicators of change. They constitute the music and identity of this road, a concerto – WIND OF CHANGE CONCERTO.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5118" src="http://daknonggeopark.com/wp-content/uploads/2020/01/buon-van-hoa-ede.jpg" alt="" data-id="5118" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/buon-van-hoa-ede.jpg" data-link="http://daknonggeopark.com/wind-of-change-concerto/buon-van-hoa-ede-2/" />Ede village</li>
<li class="blocks-gallery-item"><img class="wp-image-5119" src="http://daknonggeopark.com/wp-content/uploads/2020/01/nui-lua-nam-gle.jpg" alt="" data-id="5119" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/nui-lua-nam-gle.jpg" data-link="http://daknonggeopark.com/wind-of-change-concerto/nui-lua-nam-gle-3/" />Nam Gle vocano</li>
</ul>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5120" src="http://daknonggeopark.com/wp-content/uploads/2020/01/nui-lua-bang-mo.jpg" alt="" data-id="5120" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/nui-lua-bang-mo.jpg" data-link="http://daknonggeopark.com/wind-of-change-concerto/nui-lua-bang-mo-3/" />Bang Mo vocano</li>
<li class="blocks-gallery-item"><img class="wp-image-5121" src="http://daknonggeopark.com/wp-content/uploads/2020/01/trang-trai-xanh-thu-thuy.jpg" alt="" data-id="5121" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/trang-trai-xanh-thu-thuy.jpg" data-link="http://daknonggeopark.com/wind-of-change-concerto/trang-trai-xanh-thu-thuy-2/" />Thu Thuy green farm</li>
<li class="blocks-gallery-item"><img class="wp-image-5122" src="http://daknonggeopark.com/wp-content/uploads/2020/01/vuon-xoai.jpg" alt="" data-id="5122" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/vuon-xoai.jpg" data-link="http://daknonggeopark.com/wind-of-change-concerto/vuon-xoai-2/" />Mangosteen farm</li>
</ul>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-4537" src="http://daknonggeopark.com/wp-content/uploads/2019/12/buon-van-hoa-ede.jpg" alt="" data-id="4537" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/buon-van-hoa-ede.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/buon-van-hoa-ede/" />Buôn văn hóa Êđê</li>
<li class="blocks-gallery-item"><img class="wp-image-4538" src="http://daknonggeopark.com/wp-content/uploads/2019/12/nui-lua-bang-mo.jpg" alt="" data-id="4538" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/nui-lua-bang-mo.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/nui-lua-bang-mo-2/" />Núi lửa Băng Mo</li>
<li class="blocks-gallery-item"><img class="wp-image-4539" src="http://daknonggeopark.com/wp-content/uploads/2019/12/thac-trinh-nu.jpg" alt="" data-id="4539" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/thac-trinh-nu.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/thac-trinh-nu/" />Thác Băng Rup</li>
</ul>
<p>Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu – mời bạn đến với hành trình “Bản giao hưởng của Làn gió mới”, bắt đầu từ huyện Cư Jút đến thị xã Gia Nghĩa. Tuyến đường chứa đựng nhiều núi lửa âm và dương, các dòng dung nham núi lửa chảy qua nơi đây đã thay đổi cảnh quan nguyên thủy tạo nên những di sản địa chất đặc sắc như thác Băng Rup, Hồ Tây, các pha phun trào bazan,…đặc biệt là các giá trị di sản văn hóa đặc sắc của các dân tộc bản địa M’nông, Êđê như sử thi, văn hóa cồng chiêng,…</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-4540" src="http://daknonggeopark.com/wp-content/uploads/2019/12/nui-lua-nam-gle.jpg" alt="" data-id="4540" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/nui-lua-nam-gle.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/nui-lua-nam-gle-2/" />Núi lửa Nâm Gle</li>
<li class="blocks-gallery-item"><img class="wp-image-4541" src="http://daknonggeopark.com/wp-content/uploads/2019/12/trang-trai-xanh-thu-thuy.jpg" alt="" data-id="4541" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/trang-trai-xanh-thu-thuy.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/trang-trai-xanh-thu-thuy/" />Trang trại xanh Thu Thủy</li>
<li class="blocks-gallery-item"><img class="wp-image-4542" src="http://daknonggeopark.com/wp-content/uploads/2019/12/vuon-xoai.jpg" alt="" data-id="4542" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/vuon-xoai.jpg" data-link="http://daknonggeopark.com/vi/tuyen-ban-giao-huong-cua-lan-gio-moi/vuon-xoai/" />Vườn xoài</li>
</ul>
<p>Nơi đây còn ghi lại nhiều dấu ấn lịch sử đặc biệt quan trọng trong công cuộc giải phóng đất nước như Ngục Đắk Mil, Đường hành lang chiến lược Bắc – Nam,… Các trang trại hữu cơ thân thiện với môi trường đang ngày càng được nhân rộng, cuộc sống của người dân dần thay da, đổi thịt. Chúng tạo nên một bản nhạc, sống động, BẢN GIAO HƯỞNG CỦA LÀN GIÓ MỚI.</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/36a21df4c5564ed0af63390ee5ed03a0]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu – xin mời bạn đến với hành trình “Trường ca của Lửa và Nước”, được bắt đầu từ thị xã Gia Nghĩa đến thác Gia Long.]]></Value>
      <Value Culture="en-us"><![CDATA[Dak Nong Aspiring UNESCO Global Geopark, The Land of Sounds, invites you along the route “WIND OF CHANGE CONCERTO”]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Wind of change concerto]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tuyến Bản giao hưởng của Làn gió mới]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "487ecf1b-688d-48c6-95cd-3cb86425f8da",
    "mediaKey": "b4f2d586-77e6-414a-a8b6-3aefb11e1f00",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "e4dd099d-72f7-41a7-a29f-d43b8e86cd02",
    "mediaKey": "dc4057c9-5f52-415b-885f-41c1696e65c5",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Wind of change concerto"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Tuyến Bản giao hưởng của Làn gió mới","Bản giao hưởng của Làn gió mới"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Wind of change concerto]]></Value>
      <Value Culture="vi-vn"><![CDATA[Bản giao hưởng của Làn gió mới]]></Value>
    </title>
  </Properties>
</Content>