<?xml version="1.0" encoding="utf-8"?>
<Content Key="14e6eb37-90e4-4996-95b3-ce92943f0075" Alias="Tuyến Âm vang từ Trái Đất (1)" Level="3">
  <Info>
    <Parent Key="24e857c2-f308-45a7-bc7a-804ad237dd3d">Khám phá CVĐC</Parent>
    <Path>/TrangChu/KhamPhaCVDC/TuyenAmVangTuTraiDat1</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-10-06T21:12:20</CreateDate>
    <NodeName Default="Tuyến Âm vang từ Trái Đất (1)">
      <Name Culture="en-us">Wind of change concerto (1)</Name>
      <Name Culture="vi-vn">Tuyến Âm vang từ Trái Đất (1)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="en-us"><![CDATA[<p><img class="wp-image-5125" src="http://daknonggeopark.com/wp-content/uploads/2020/01/ho-ta-dung-1024x510-1.jpg" alt="Ta Dung lake" />Ta Dung lake</p>
<p>Dak Nong Aspiring UNESCO Geopark, the land of sounds, invites you along the route “SOUNDS OF THE EARTH<strong>“, </strong>beginning from Gia Nghia and ending at Ta Dung Lake.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5126" src="http://daknonggeopark.com/wp-content/uploads/2020/01/chua-phap-hoa.jpg" alt="" data-id="5126" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/chua-phap-hoa.jpg" data-link="http://daknonggeopark.com/sound-of-the-earth/chua-phap-hoa-2/" />Phpa Hoa pagoda</li>
<li class="blocks-gallery-item"><img class="wp-image-5127" src="http://daknonggeopark.com/wp-content/uploads/2020/01/enjoy.jpg" alt="" data-id="5127" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/enjoy.jpg" data-link="http://daknonggeopark.com/sound-of-the-earth/enjoy-2/" />Mini coffee museum</li>
<li class="blocks-gallery-item"><img class="wp-image-5128" src="http://daknonggeopark.com/wp-content/uploads/2020/01/thac-lieng-nung.jpg" alt="" data-id="5128" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/thac-lieng-nung.jpg" data-link="http://daknonggeopark.com/sound-of-the-earth/thac-lieng-nung-3/" />Lieng Nung waterfall</li>
</ul>
<p>Lithophones playing magical stone music from 5,000 years ago. Gongs made from different minerals, which are designated as UNESCO intangible heritage. Amazing rivers and waterfalls. A sacred giant banyan tree. A lake resembling a “miniature Ha Long Bay “. Tropical evergreen forest and the rich sound of its diverse living fauna. An organic farm…  All these surprising sites and sounds are a hymn from the Earth and a story of mankind. They constitute the music and identity of this road: SOUNDS OF THE EARTH.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-5129" src="http://daknonggeopark.com/wp-content/uploads/2020/01/cay-thieng.jpg" alt="" data-id="5129" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/cay-thieng.jpg" data-link="http://daknonggeopark.com/sound-of-the-earth/cay-thieng-2/" />The sacred tree</li>
<li class="blocks-gallery-item"><img class="wp-image-5130" src="http://daknonggeopark.com/wp-content/uploads/2020/01/Nha-may-thuy-dien-1024x574-1.jpg" alt="" data-id="5130" data-full-url="http://daknonggeopark.com/wp-content/uploads/2020/01/Nha-may-thuy-dien-1024x574-1.jpg" data-link="http://daknonggeopark.com/sound-of-the-earth/nha-may-thuy-dien-1024x574-1/" /></li>
</ul>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-4545" src="http://daknonggeopark.com/wp-content/uploads/2019/12/chua-phap-hoa.jpg" alt="" data-id="4545" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/chua-phap-hoa.jpg" data-link="http://daknonggeopark.com/vi/tuyen-am-vang-tu-trai-dat/chua-phap-hoa/" />Chùa Pháp Hoa</li>
<li class="blocks-gallery-item"><img class="wp-image-4546" src="http://daknonggeopark.com/wp-content/uploads/2019/12/enjoy.jpg" alt="" data-id="4546" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/enjoy.jpg" data-link="http://daknonggeopark.com/vi/tuyen-am-vang-tu-trai-dat/enjoy/" />Điểm trưng bày cà phê Enjoy</li>
<li class="blocks-gallery-item"><img class="wp-image-4547" src="http://daknonggeopark.com/wp-content/uploads/2019/12/thac-lieng-nung.jpg" alt="" data-id="4547" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/thac-lieng-nung.jpg" data-link="http://daknonggeopark.com/vi/tuyen-am-vang-tu-trai-dat/thac-lieng-nung-2/" />Thác Liêng Nung</li>
</ul>
<p>Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu – mời bạn tham quan, trải nghiệm tuyến hành trình mang tên “Âm vang từ Trái Đất” bắt đầu từ thị xã Gia Nghĩa đến với hồ Tà Đùng.</p>
<p><img class="wp-image-4550" src="http://daknonggeopark.com/wp-content/uploads/2019/12/ho-ta-dung-1024x510.jpg" alt="" />Hồ Tà Đùng</p>
<p>Bắt nguồn từ tiếng đàn đá – những kết tinh kì diệu của Trái Đất đã được cư dân bản địa nơi đây tạo nên, kế thừa và phát triển dần thành hệ thống nhạc cụ tre nứa. Đặc biệt đỉnh cao là “Không gian văn hóa Cồng chiêng Tây Nguyên đã được UNESCO công nhận là “Kiệt tác Di sản văn hóa phi vật thể của nhân loại” (trong đó có ba dân tộc bản địa M’nông, Mạ và Êđê thuộc Công viên Địa chất Đắk Nông đồng sở hữu). Đan xen là những câu chuyện cổ, truyền thuyết gắn liền với sự ra đời của con người, dòng sông, dòng suối, ngọn núi, ngọn thác,… được các vị thần linh che chở và con người giữ gìn, bảo vệ.</p>
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item"><img class="wp-image-4548" src="http://daknonggeopark.com/wp-content/uploads/2019/12/cay-thieng.jpg" alt="" data-id="4548" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/cay-thieng.jpg" data-link="http://daknonggeopark.com/vi/tuyen-am-vang-tu-trai-dat/cay-thieng/" />Cây thiêng</li>
<li class="blocks-gallery-item"><img class="wp-image-4549" src="http://daknonggeopark.com/wp-content/uploads/2019/12/Nha-may-thuy-dien-1024x574.jpg" alt="" data-id="4549" data-full-url="http://daknonggeopark.com/wp-content/uploads/2019/12/Nha-may-thuy-dien.jpg" data-link="http://daknonggeopark.com/vi/tuyen-am-vang-tu-trai-dat/nha-may-thuy-dien/" />Nhà máy thủy điện</li>
</ul>
<p>Hòa trong không gian âm thanh đất mẹ, cùng tiếng đàn đá, nhịp cồng chiêng, hồ Tà Đùng – “Vịnh Hạ Long thu nhỏ” hiện ra ôm trong lòng các đảo lớn, nhỏ thơ mộng…. Âm thanh của núi rừng, của các loài động vật trong những cánh rừng nhiệt đới hay những trang trại hữu cơ, vườn cây ăn trái sai hoa, trĩu quả,… đã kết hợp thành nét đặc sắc riêng có của tuyến hành trình ÂM VANG TỪ TRÁI ĐẤT.</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/36a21df4c5564ed0af63390ee5ed03a0]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-21T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Dak Nong Aspiring UNESCO Geopark, the land of sounds, invites you along the route “SOUNDS OF THE EARTH“]]></Value>
      <Value Culture="vi-vn"><![CDATA[Công viên Địa chất Đắk Nông – Xứ sở của những Âm điệu – xin mời bạn đến với hành trình “Trường ca của Lửa và Nước”, được bắt đầu từ thị xã Gia Nghĩa đến thác Gia Long.]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Wind of change concerto]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tuyến Âm vang từ Trái Đất]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "ccd41863-88eb-454b-b8a0-5d16fe3416f7",
    "mediaKey": "e7dc1527-f913-4018-be95-cb8cd0eb8f96",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "96045feb-2196-49ee-aaee-0066b7b18acd",
    "mediaKey": "38444307-75ab-42c1-bf21-9fcccc7e2852",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Wind of change concerto"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Tuyến Âm vang từ Trái Đất","Âm vang từ Trái Đất"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Wind of change concerto]]></Value>
      <Value Culture="vi-vn"><![CDATA[Âm vang từ Trái Đất]]></Value>
    </title>
  </Properties>
</Content>