<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b812589-082f-4ecd-b8b2-324e8b8dc529" Alias="Văn bản" Level="2">
  <Info>
    <Parent Key="0789bf43-f210-4ac2-bd73-ae0fcad1ff7f">Trang chủ</Parent>
    <Path>/TrangChu/VanBan</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:01:53</CreateDate>
    <NodeName Default="Văn bản">
      <Name Culture="en-us">Documents</Name>
      <Name Culture="vi-vn">Văn bản</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/8721fd300bbe40a7b619470ca7be25c4]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[Văn bản]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Documents]]></Value>
      <Value Culture="vi-vn"><![CDATA[Văn bản]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "86755530-14e7-4056-bf43-f3c8b7045263",
    "mediaKey": "fa6a70fb-b0e6-49c8-a630-f6df0349cfde",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "c26d6b0d-29f9-491e-8b0e-b00c5e0d562f",
    "mediaKey": "fa6a70fb-b0e6-49c8-a630-f6df0349cfde",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Documents"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["Văn bản"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Documents]]></Value>
      <Value Culture="vi-vn"><![CDATA[Văn bản]]></Value>
    </title>
  </Properties>
</Content>