<?xml version="1.0" encoding="utf-8"?>
<Content Key="8721fd30-0bbe-40a7-b619-470ca7be25c4" Alias="Văn bản" Level="3">
  <Info>
    <Parent Key="350c18b0-89a7-43b9-b344-a60be227ef36">Danh mục</Parent>
    <Path>/TrangChu/DanhMuc/VanBan</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T09:37:43</CreateDate>
    <NodeName Default="Văn bản">
      <Name Culture="en-us">Documents</Name>
      <Name Culture="vi-vn">Văn bản</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Documents]]></Value>
      <Value Culture="vi-vn"><![CDATA[Văn bản]]></Value>
    </title>
  </Properties>
</Content>