<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d500fc4-e94c-40c9-be27-f35d2c545a91" Alias="Đa Dạng Sinh Học" Level="4">
  <Info>
    <Parent Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5">Di sản</Parent>
    <Path>/TrangChu/DanhMuc/DiSan/DaDangSinhHoc</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T10:47:29</CreateDate>
    <NodeName Default="Đa Dạng Sinh Học">
      <Name Culture="en-us">Biodiversity</Name>
      <Name Culture="vi-vn">Đa Dạng Sinh Học</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Biodiversity]]></Value>
      <Value Culture="vi-vn"><![CDATA[Đa Dạng Sinh Học]]></Value>
    </title>
  </Properties>
</Content>