<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bc2041a-2061-4c1c-b170-df6035db4b51" Alias="ĐA DẠNG SINH HỌC" Level="3">
  <Info>
    <Parent Key="8f1ed09a-cc48-4ed6-b98a-4d8b0089412a">Di sản</Parent>
    <Path>/TrangChu/DiSan/DADANGSINHHOC</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-19T07:21:42</CreateDate>
    <NodeName Default="ĐA DẠNG SINH HỌC">
      <Name Culture="en-us">Biodiversity</Name>
      <Name Culture="vi-vn">ĐA DẠNG SINH HỌC</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/c5ef9fd253b547c1a9e284f26b13f245,umb://document/2d500fc4e94c40c9be27f35d2c545a91]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="vi-vn"><![CDATA[ĐA DẠNG SINH HỌC]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Biodiversity]]></Value>
      <Value Culture="vi-vn"><![CDATA[ĐA DẠNG SINH HỌC]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "1b8af1fc-fb94-4edf-b7a7-760c0cb18339",
    "mediaKey": "cee0fc90-66ef-452b-8116-f47c5dc1a075",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "da0dda30-5b25-496c-8c95-fc87f2db8dbe",
    "mediaKey": "7edf899d-8c6b-4f97-b972-2226305d8f9d",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="vi-vn"><![CDATA[[]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Biodiversity]]></Value>
      <Value Culture="vi-vn"><![CDATA[ĐA DẠNG SINH HỌC]]></Value>
    </title>
  </Properties>
</Content>