<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1f42987-5c4f-4c01-ba06-4ea063133ac4" Alias="Đối tác" Level="4">
  <Info>
    <Parent Key="721a5789-4024-4e16-9b07-1aac8e1f2645">Đối tác</Parent>
    <Path>/TrangChu/DanhMuc/DoiTac/DoiTac</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T17:43:13</CreateDate>
    <NodeName Default="Đối tác">
      <Name Culture="en-us">Partners</Name>
      <Name Culture="vi-vn">Đối tác</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Partners]]></Value>
      <Value Culture="vi-vn"><![CDATA[Đối tác]]></Value>
    </title>
  </Properties>
</Content>