<?xml version="1.0" encoding="utf-8"?>
<Content Key="70c3e737-0bf8-4388-b705-f95f70b98194" Alias="Ẩm thực" Level="4">
  <Info>
    <Parent Key="bc4838e0-e8cd-4c81-85c7-d16b70bd8ce5">Di sản</Parent>
    <Path>/TrangChu/QuanLyLoaiBaiViet/DiSan/AmThuc</Path>
    <Trashed>false</Trashed>
    <ContentType>contentCategory</ContentType>
    <CreateDate>2021-09-22T10:56:56</CreateDate>
    <NodeName Default="Ẩm thực">
      <Name Culture="en-us">Cuisine</Name>
      <Name Culture="vi-vn">Ẩm thực</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi-vn">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-us"><![CDATA[Cuisine]]></Value>
      <Value Culture="vi-vn"><![CDATA[Ẩm thực]]></Value>
    </title>
  </Properties>
</Content>