<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b432b1e9-73e1-40b9-b543-21bca2c8bd33" Alias="Audio Media Picker" Level="1">
  <Info>
    <Name>Audio Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "umbracoMediaAudio",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>