<?xml version="1.0" encoding="utf-8"?>
<DataType Key="869f2f41-f4b2-4fb2-92c8-5edb20420c72" Alias="_NestedSimpleLink - Links - Nested Content" Level="1">
  <Info>
    <Name>_NestedSimpleLink - Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "simpleLink",
      "ncTabAlias": "Liên kết",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>