<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46571834-1d55-41ab-86e5-61cec95bbbd8" Alias="_NestedSimpleLinkWithImage - Links - Nested Content" Level="1">
  <Info>
    <Name>_NestedSimpleLinkWithImage - Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "simpleLinkWithImage",
      "ncTabAlias": "Liên kết",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>