<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b863d0a5-ea52-428a-b02a-82ebe086bb17" Alias="_NestedBannerItem - Banners - Nested Content" Level="1">
  <Info>
    <Name>_NestedBannerItem - Banners - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerItem",
      "ncTabAlias": "Biểu ngữ",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>