<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d02e64d-e967-4fa3-8862-8c22ae1b41fd" Alias="_NestedLink - NestedLinks - Nested Content" Level="1">
  <Info>
    <Name>_NestedLink - NestedLinks - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "link",
      "ncTabAlias": "Liên kết",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>