<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd44dc50-b86e-4dab-b1ba-6a977262e225" Alias="_PageContentDetail - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>_PageContentDetail - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/350c18b089a743b9b344a60be227ef36"
  },
  "Filter": "contentCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>