<?xml version="1.0" encoding="utf-8"?>
<DataType Key="238b22a8-745a-4150-ac75-8bfd0c7b57ff" Alias="XmlSiteMapSettings - searchEngineChangeFrequency - Slider" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - searchEngineChangeFrequency - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.5,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>