<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f56e2523-86fc-406b-96c1-974460e94816" Alias="XmlSiteMapSettings - searchEngineChangeFrequency - Dropdown" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - searchEngineChangeFrequency - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 8,
      "value": "luôn luôn"
    },
    {
      "id": 9,
      "value": "hàng giờ"
    },
    {
      "id": 10,
      "value": "hàng ngày"
    },
    {
      "id": 11,
      "value": "hàng tuần"
    },
    {
      "id": 12,
      "value": "hàng tháng"
    },
    {
      "id": 13,
      "value": "hàng năm"
    },
    {
      "id": 14,
      "value": "không bao giờ"
    }
  ]
}]]></Config>
</DataType>