<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15039323-20bc-456e-a62c-f291fbd8d2a9" Alias="Dia_Chi_Lien_He" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Address: {0}</Translation>
    <Translation Language="vi-VN">Đĩa chỉ: {0}</Translation>
  </Translations>
</Dictionary>