<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bc228c0d-cb1d-4b4b-b61e-b7112540ece9" Alias="Dinh_Dang_Ngay_Thang" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">dd/MM/yyyy</Translation>
    <Translation Language="vi-VN">dd/MM/yyyy</Translation>
  </Translations>
</Dictionary>