<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8347ea9a-c073-4b31-9e98-e0d94acbec14" Alias="Email_Lien_He" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Email: {0}</Translation>
    <Translation Language="vi-VN">E-mail: {0}</Translation>
  </Translations>
</Dictionary>