<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0c9c0e5f-cf2a-4f3f-b408-0eff84a17aba" Alias="Published" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Published</Translation>
    <Translation Language="vi-VN">Đã được phát hành</Translation>
  </Translations>
</Dictionary>