<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="93efd602-487f-4258-95c7-18152cad09e4" Alias="So_Dien_Thoai_Lien_He" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Phone Number: {0}</Translation>
    <Translation Language="vi-VN">Số điện thoại: {0}</Translation>
  </Translations>
</Dictionary>