<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="049a89f0-07e0-42e4-99f7-5e33bdbdfbcc" Alias="So_Fax_Lien_He" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Fax: {0}</Translation>
    <Translation Language="vi-VN">Số fax: {0}</Translation>
  </Translations>
</Dictionary>