<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d244def5-2909-4ad4-97d0-59702e41b8ce" Alias="Tieu_De_Lien_He_Chan_Trang" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Nam Nung Nature Reserve</Translation>
    <Translation Language="vi-VN">Khu bảo tồn thiên nhiên Nam Nung</Translation>
  </Translations>
</Dictionary>