<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="919b52f4-6cd0-42fd-b089-5792737795e6" Alias="Tieu_De_Ngon_Ngu_Chan_Trang" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Language:</Translation>
    <Translation Language="vi-VN">Ngôn ngữ:</Translation>
  </Translations>
</Dictionary>