<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ab5172d-8981-4126-b0d4-6dfd41d93cab" Alias="Tin_Tuc_Lien_Quan" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Related news</Translation>
    <Translation Language="vi-VN">Tin liên quan</Translation>
  </Translations>
</Dictionary>