<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4128dc4f-c564-45be-aeb9-d4ed495462f7" Alias="Unpublished" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Unpublished</Translation>
    <Translation Language="vi-VN">Chưa xuất bản</Translation>
  </Translations>
</Dictionary>