<?xml version="1.0" encoding="utf-8"?>
<Content Key="a30b37b7-4ed4-482a-abab-bce58ec0935c" Alias="Tạo danh mục bài viết" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaoDanhMucBaiViet</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-22T19:28:19</CreateDate>
    <NodeName Default="Tạo danh mục bài viết">
      <Name Culture="en-us">List template</Name>
      <Name Culture="vi-vn">Tạo danh mục bài viết</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">false</Published>
    </Published>
    <Schedule />
    <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <body>
      <Value Culture="vi-vn"><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/36a21df4c5564ed0af63390ee5ed03a0]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Short description of the list]]></Value>
      <Value Culture="vi-vn"><![CDATA[Mô tả ngắn danh sách ]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề đầu trang ]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "2f99e268-8bf6-46e0-9a1a-a7ab30b17789",
    "mediaKey": "419b30ec-7c1d-4414-a817-fe8719f09b7b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "fae975f5-236c-41da-ac75-d91e1fd6d811",
    "mediaKey": "a072f463-2f73-4929-a184-7ba44ad34609",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["List template"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài biết liên quan"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Title for content and navigation bar]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề cho nội dung và thanh điều hướng]]></Value>
    </title>
  </Properties>
</Content>