<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a98678-fdd4-4e59-aa33-4f204eabdd76" Alias="Tạo album thư viện" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaoAlbumThuVien</Path>
    <Trashed>false</Trashed>
    <ContentType>detail</ContentType>
    <CreateDate>2021-09-22T19:21:59</CreateDate>
    <NodeName Default="Tạo album thư viện">
      <Name Culture="en-us">Library article template</Name>
      <Name Culture="vi-vn">Tạo album thư viện</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">false</Published>
    </Published>
    <Schedule />
    <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-us"><![CDATA[<p>The main content of the article</p>]]></Value>
      <Value Culture="vi-vn"><![CDATA[<p>Nội dung chính của bài viết</p>]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[2021-09-22T12:00:00]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Mô tả ngắn của bài viết]]></Value>
      <Value Culture="vi-vn"><![CDATA[Mô tả ngắn của bài viết]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Banner header]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề đầu trang trên banner]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[1]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "f078e7b5-4476-438d-a1b9-2fea759621c0",
    "mediaKey": "dc4a99e8-e877-4d77-8240-129106657d8a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "edea44c6-53ba-4a46-9e87-169b730ddd4f",
    "mediaKey": "dc4a99e8-e877-4d77-8240-129106657d8a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "4fad6ff7-22f2-4770-af0c-49b5e4614b2e",
    "mediaKey": "dc4a99e8-e877-4d77-8240-129106657d8a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "3a78d20d-a637-4422-8960-d256a48546b0",
    "mediaKey": "dc4a99e8-e877-4d77-8240-129106657d8a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[1]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Library article template"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài viết liên quan"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Title of content]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề của nội dung]]></Value>
    </title>
  </Properties>
</Content>