<?xml version="1.0" encoding="utf-8"?>
<Content Key="a894ed7c-186a-4c54-9337-c09f4e3108de" Alias="Tạo danh mục thự viện" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaoDanhMucThuVien</Path>
    <Trashed>false</Trashed>
    <ContentType>list</ContentType>
    <CreateDate>2021-09-22T19:29:55</CreateDate>
    <NodeName Default="Tạo danh mục thự viện">
      <Name Culture="en-us">Piece of library list</Name>
      <Name Culture="vi-vn">Tạo danh mục thự viện</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
      <Published Culture="vi-vn">false</Published>
    </Published>
    <Schedule />
    <Template Key="24bf988a-2b08-413c-a5f9-eeaaf79046ba">LibraryList</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <audioBody>
      <Value><![CDATA[]]></Value>
    </audioBody>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <category>
      <Value><![CDATA[umb://document/ae2ff31461344771923a48bcde81ea29]]></Value>
    </category>
    <createdDate>
      <Value><![CDATA[]]></Value>
    </createdDate>
    <description>
      <Value Culture="en-us"><![CDATA[Short description of the list displayed in the hairy list item]]></Value>
      <Value Culture="vi-vn"><![CDATA[Mô tả ngắn danh sách]]></Value>
    </description>
    <headingTitle>
      <Value Culture="en-us"><![CDATA[Top of the page title]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề đầu trang ]]></Value>
    </headingTitle>
    <hideFromXmlSiteMap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSiteMap>
    <highlight>
      <Value><![CDATA[0]]></Value>
    </highlight>
    <image>
      <Value><![CDATA[[
  {
    "key": "b8903a64-cd33-4d69-a2f5-aed7999ba6b8",
    "mediaKey": "dc4a99e8-e877-4d77-8240-129106657d8a",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <images>
      <Value><![CDATA[[
  {
    "key": "4cb823e2-4282-4eb2-b4ad-c73b7e8dbab0",
    "mediaKey": "a072f463-2f73-4929-a184-7ba44ad34609",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </images>
    <numberOfItemsPerPage>
      <Value><![CDATA[]]></Value>
    </numberOfItemsPerPage>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnHomePage>
      <Value><![CDATA[0]]></Value>
    </showOnHomePage>
    <tags>
      <Value Culture="en-us"><![CDATA[["Piece of library list"]]]></Value>
      <Value Culture="vi-vn"><![CDATA[["thẻ SEO và dùng cho tính năng bài biết liên quan"]]]></Value>
    </tags>
    <title>
      <Value Culture="en-us"><![CDATA[Title for content and navigation bar]]></Value>
      <Value Culture="vi-vn"><![CDATA[Tiêu đề cho nội dung và thanh điều hướng]]></Value>
    </title>
  </Properties>
</Content>