<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="09346d8b-c6ff-441a-9ebd-c57b1632c407" Alias="category" Level="2">
  <Info>
    <Name>_Category</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9246f604-e2fc-4e79-a6b1-e05ac4d60585</Key>
      <Name>Tiêu đề</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="noiDung">Nội dung</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Nội dung</Caption>
      <SortOrder>0</SortOrder>
      <Alias>noiDung</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>