<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73f9dd38-775a-43e8-9cf4-bddaa4ae143c" Alias="contentCategory" Level="2">
  <Info>
    <Name>Danh mục</Name>
    <Icon>icon-categories color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Contents</Folder>
    <Compositions>
      <Composition Key="09346d8b-c6ff-441a-9ebd-c57b1632c407">category</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>