<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8a6e9cb-7e28-4fdc-85e6-ca685d981277" Alias="contentsFolder" Level="2">
  <Info>
    <Name>Thư mục nội dung</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Contents</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d8a6e9cb-7e28-4fdc-85e6-ca685d981277" SortOrder="0">contentsFolder</ContentType>
    <ContentType Key="73f9dd38-775a-43e8-9cf4-bddaa4ae143c" SortOrder="1">contentCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>