<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7199e8b-12dc-4d56-abed-415cb8bc1813" Alias="detail" Level="2">
  <Info>
    <Name>Chi tiết</Name>
    <Icon>icon-newspaper-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c0895cb9-2300-4a06-a192-6f377f51418c">pageContentDetail</Composition>
      <Composition Key="57a3ca6d-34e9-47c3-82fe-2ac5e76a77f5">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>SimpleDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fafcd7d4-8ff6-462a-b40f-40f4674d3821">Detail</Template>
      <Template Key="409c3094-c0f1-4370-8df2-669008a29b26">LibraryDetail</Template>
      <Template Key="a666ed06-0f7b-4874-b759-bdd4107bb629">Search</Template>
      <Template Key="75c6b67b-21c4-4b5f-a1f8-1baac0ec4af8">SimpleDetail</Template>
      <Template Key="3e8f89da-d8fe-4b04-99e7-f3cacfb31a7d">XmlSiteMap</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c7199e8b-12dc-4d56-abed-415cb8bc1813" SortOrder="0">detail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>