<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c685cd31-86ca-4d70-8b56-457df7ed9043" Alias="detailPartner" Level="2">
  <Info>
    <Name>Chi tiết đối tác</Name>
    <Icon>icon-newspaper-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c0895cb9-2300-4a06-a192-6f377f51418c">pageContentDetail</Composition>
      <Composition Key="2fbb60ec-71a7-4dda-b4e1-26cb87830d5d">partnerContentDetail</Composition>
      <Composition Key="57a3ca6d-34e9-47c3-82fe-2ac5e76a77f5">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>DetailPartner</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3bfca0df-7937-4000-97dd-7140aaa9ce68">DetailPartner</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>