<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42793f59-7718-4a33-b46d-ce1f4419139f" Alias="home" Level="2">
  <Info>
    <Name>Trang chủ</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c0895cb9-2300-4a06-a192-6f377f51418c">pageContentDetail</Composition>
      <Composition Key="57a3ca6d-34e9-47c3-82fe-2ac5e76a77f5">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="53d0732b-48a6-462c-81d2-7667a5363a9d">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d8a6e9cb-7e28-4fdc-85e6-ca685d981277" SortOrder="0">contentsFolder</ContentType>
    <ContentType Key="77af914a-13f6-4a8b-ae9c-4015cae57225" SortOrder="1">list</ContentType>
    <ContentType Key="c7199e8b-12dc-4d56-abed-415cb8bc1813" SortOrder="2">detail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f5383945-9864-41c5-9c94-e1b2391f78a1</Key>
      <Name>Phiên bản tài nguyên</Name>
      <Alias>assetsVersion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="caiDat">Cài đặt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>33b6e8a7-36bc-434b-b169-dd2b40a90063</Key>
      <Name>Banner chính</Name>
      <Alias>banners</Alias>
      <Definition>b863d0a5-ea52-428a-b02a-82ebe086bb17</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bannerHnhNh">Banner Hình ảnh</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1531d803-efe9-40f8-9fda-0297195012df</Key>
      <Name>Banner di sản</Name>
      <Alias>bannersHeritage</Alias>
      <Definition>b863d0a5-ea52-428a-b02a-82ebe086bb17</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bannerHnhNh">Banner Hình ảnh</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d41b07b4-bb74-475a-bf1f-ac342dfa2c85</Key>
      <Name>Banner giới thiệu</Name>
      <Alias>bannersIntroduction</Alias>
      <Definition>741f8b9b-be79-4979-a761-4a33c93e7c70</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bannerHnhNh">Banner Hình ảnh</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f903bf19-a406-4a9c-a169-6c269fb26f11</Key>
      <Name>Liên kết danh mục</Name>
      <Alias>categoryLinks</Alias>
      <Definition>869f2f41-f4b2-4fb2-92c8-5edb20420c72</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6c4cfd7-f92c-4aa2-a2c7-9a036ac4d5e8</Key>
      <Name>Tiêu đề liên kết danh mục</Name>
      <Alias>categoryLinksTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e233f875-9ee1-4758-b8f7-367d01313040</Key>
      <Name>Địa chỉ liên hệ</Name>
      <Alias>contactAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="thongTinLienHe">Thông tin liên hệ</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a779a95-4e80-4967-9dc9-a8e68e52f319</Key>
      <Name>Email liên hệ</Name>
      <Alias>contactEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="thongTinLienHe">Thông tin liên hệ</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>760e86f0-c80c-45d0-ac0e-fbbc79d2fbe2</Key>
      <Name>Số Fax liên hệ</Name>
      <Alias>contactFaxNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="thongTinLienHe">Thông tin liên hệ</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f14c3c5-ebcd-446c-80dd-c75a46abb9af</Key>
      <Name>Số điện thoại liên hệ</Name>
      <Alias>contactPhoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="thongTinLienHe">Thông tin liên hệ</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f73fd5d-37f3-4144-9c80-f6b835a97e67</Key>
      <Name>Tiêu đề thông tin liên hệ</Name>
      <Alias>contactTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="thongTinLienHe">Thông tin liên hệ</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>758d2550-5557-46dd-ba82-7484e4e82ff8</Key>
      <Name>Bản quyền</Name>
      <Alias>copyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="caiDat">Cài đặt</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c57c540-f4ff-40c6-831a-a72b415b5507</Key>
      <Name>Menu cuối trang</Name>
      <Alias>footerMenu</Alias>
      <Definition>869f2f41-f4b2-4fb2-92c8-5edb20420c72</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f0722b2-c9db-44b0-992d-ed1595d92929</Key>
      <Name>Menu đầu trang</Name>
      <Alias>headerMenu</Alias>
      <Definition>4d02e64d-e967-4fa3-8862-8c22ae1b41fd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26e4b00c-fde5-4b8a-8f80-3909eb6b0fa5</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caiDat">Cài đặt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9fa1ede-d773-4bdb-adbf-3a995971e05d</Key>
      <Name>Liên kết trang</Name>
      <Alias>pageLinks</Alias>
      <Definition>869f2f41-f4b2-4fb2-92c8-5edb20420c72</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>259d2d7e-48d6-4bed-a978-012794306d87</Key>
      <Name>Tiêu đề liên kết trang</Name>
      <Alias>pageLinksTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a67053a-17bc-482f-a212-15755321fb9a</Key>
      <Name>Liên kết mạng xã hội</Name>
      <Alias>socialLinks</Alias>
      <Definition>46571834-1d55-41ab-86e5-61cec95bbbd8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Cài đặt</Caption>
      <SortOrder>0</SortOrder>
      <Alias>caiDat</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Banner Hình ảnh</Caption>
      <SortOrder>0</SortOrder>
      <Alias>bannerHnhNh</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Menu</Caption>
      <SortOrder>1</SortOrder>
      <Alias>menu</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Thông tin liên hệ</Caption>
      <SortOrder>2</SortOrder>
      <Alias>thongTinLienHe</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>