<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77af914a-13f6-4a8b-ae9c-4015cae57225" Alias="list" Level="2">
  <Info>
    <Name>Danh sách</Name>
    <Icon>icon-bulleted-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c0895cb9-2300-4a06-a192-6f377f51418c">pageContentDetail</Composition>
      <Composition Key="e89db552-cfcb-48fa-b7e5-946cda46cf39">pagination</Composition>
      <Composition Key="57a3ca6d-34e9-47c3-82fe-2ac5e76a77f5">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>SimpleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24bf988a-2b08-413c-a5f9-eeaaf79046ba">LibraryList</Template>
      <Template Key="3799100e-0177-49f3-9136-26b24596858a">List</Template>
      <Template Key="07020492-8dac-49f7-bce5-5f8522254409">PartnerList</Template>
      <Template Key="4c8d8215-8c0a-466d-a8bd-8c1b11a875f1">SimpleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c7199e8b-12dc-4d56-abed-415cb8bc1813" SortOrder="0">detail</ContentType>
    <ContentType Key="c685cd31-86ca-4d70-8b56-457df7ed9043" SortOrder="1">detailPartner</ContentType>
    <ContentType Key="77af914a-13f6-4a8b-ae9c-4015cae57225" SortOrder="2">list</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>