<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e89db552-cfcb-48fa-b7e5-946cda46cf39" Alias="pagination" Level="2">
  <Info>
    <Name>_Pagination</Name>
    <Icon>icon-forms-table color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2a38fce8-7f3d-487f-bdc3-a51f96069e4f</Key>
      <Name>Số lượng hiễn thị trên trang</Name>
      <Alias>numberOfItemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="phanTrang">Phân trang</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Phân trang</Caption>
      <SortOrder>0</SortOrder>
      <Alias>phanTrang</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>