<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd7af62e-0c35-48f8-a6c7-03c44f30ece1" Alias="xmlSiteMap" Level="2">
  <Info>
    <Name>XmlSiteMap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b4f7332-a556-47a8-8330-f984480d68fb</Key>
      <Name>Loại trừ các loại tài liệu</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cuHnhSTrangXml">Cấu hình sơ đồ trang Xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Cấu hình sơ đồ trang Xml</Caption>
      <SortOrder>0</SortOrder>
      <Alias>cuHnhSTrangXml</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>