<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57a3ca6d-34e9-47c3-82fe-2ac5e76a77f5" Alias="xmlSiteMapSettings" Level="2">
  <Info>
    <Name>XmlSiteMapSettings</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ab744ff6-c689-46a3-aad7-7af8e2f8187e</Key>
      <Name>Ẩn khỏi Sơ đồ trang Xml</Name>
      <Alias>hideFromXmlSiteMap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="cuHnhSTrangXml">Cấu hình Sơ đồ trang Xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d413e13-9ddc-4a50-853f-e2fc1493e915</Key>
      <Name>Tần suất thay đổi công cụ tìm kiếm</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>f56e2523-86fc-406b-96c1-974460e94816</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="cuHnhSTrangXml">Cấu hình Sơ đồ trang Xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>400e865c-f7ed-46c6-b756-eed0796455c9</Key>
      <Name>Mức độ ưu tiên tương đối của công cụ tìm kiếm</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>238b22a8-745a-4150-ac75-8bfd0c7b57ff</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cuHnhSTrangXml">Cấu hình Sơ đồ trang Xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Cấu hình Sơ đồ trang Xml</Caption>
      <SortOrder>9</SortOrder>
      <Alias>cuHnhSTrangXml</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>